{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "808c3cdc02276c022a919c6e73fe690d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"IfwGACC+udYr/+ZklijuC4uwkCVoe0Drzg8Mv8C3A/7b+QevLZKEmrcKKQ/TbYLg4S9STnpbq7hCJusfsFF7IXRGJvAVpjOjgDGJauRgqAahotOfX023zGCAsNeiwFfslNRge6FB2HUV2HfjxMvcO+F/88cluM5HLYRDJ0cwxk4bEMSIKtglULlH8NcPQS8qT4pIpZKqUSRGt0U9Sr1JIoy5Ng9lZ+u+64eWG1t+9Oz57HocJbafeJ9YoE2qQvAvGHNtXtYqNxI7f10FDqPQz4IkJuhx3wyutkrnv78DHnoRoAe+ol4UhLEcZASHBLUsZlSxUnnT5MUo+OVOuDfi2ai93O8D\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "100"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"1c0-7pppgWwEXt4v5tLLA7Jzkc9CbgI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 439,
      },
      {
        "_id": "808c3cdc02276c022a919c6e73fe690d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
