{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 388,
            "text": "[\"IaQHACB+6dZX/ZsrF7PtftGqBFgY0SQnZnkLPfx+1ySb9lXTFIwqKkqXummmSVGn2wTBx8MrylR6W6u5giZrAbZ6LwRCo0fgryv+uhocJ7EfpVFKsJ0dBQxQ8kqOSvYsxoJQY+zPr7ZbZjBA2BvR4Ct2Whqw/DAg7LoaHPppFhT+nfDpeVUlEB86OYIxdmFBUNSBfQK8ewr++iGYRY+DJanUUq+n3PxFP0oDLoC3ukaY1SRgTN25G4si8FMQZFLdCAbuhFEZ+1DZeuiHseOnThg/BzEnAQehGwXhJ7xD6okPjMrYl7VWVgJaM+7bnhqnUu1YxdMBY/AVzaILAo3XHXBM0MtiwY0ajRBqrdpWlaM0Re6ECyYBW72X+8/dAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "73"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "W/\"1ea-Pm9NoI+G/h2YE1qY3m32xHttNhc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 355,
      },
      {
        "_id": "9c13428eb97d44e916db7f6100c8daea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45403636]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45403636]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "72"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"2d-Tn2RJ/wIT8Iy2qM357h1j3lI3KY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446,
      },
      {
        "_id": "808c3cdc02276c022a919c6e73fe690d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"IfwGACC+udYr/+ZklijuC4uwkCVoe0BPD9xKoC3A2uICLzjBhT7//iPdj9dtguDxiaiT3tZKV8hk/QM2ai+EzsgEvsJ0ZhQwJlGNHAzRIFR0+vOr6ZYZDBD2WhT4ip2SGmwvNAi7rgL7bpx4mXsn/G/+uATX+aiFcOjkCMbYaQOCGFEBuwQqdw/++iHoRcVRE[...]
