{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4ba26b41f3824cff65a33c7c5330d857",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"ITQHACC+udYr/+ZklijuC4uwkCVoe0BPD9xKoC3A2uICLzjBhT7//iMdPN0mCB7+IqbW21rpCpqsPWCj9kLojEzgK0xnRgFjEtXIwRANQgWnv7+abpnBAGGvRYGv2CmpwdKnQdh1Fdh348TL3DthzZXMBjzvx5Hw2/nnElznoxbCoZMjGGOnDQjURAXsEoDdPfjrh6AX5Ud+pFxJVTbApOuiHqVeMhDGXJuHss5z3/VDy/Ms33v2fI5i9gM7CrxPJBiQKvCDMdfmZa1yI3bz11XgMEvjLAxCgh73zRirVSr9/R36wfcBZuAr6kW1sJaDjOCQoJbFjMpXKm+avBhly/hOuEVi2ai93O8D\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "32"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-rzicMJNKT338B2fpb3yn/Jcu6FA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 441,
      },
      {
        "_id": "4ba26b41f3824cff65a33c7c5330d857",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
