{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "928284c5ab02d14ffecb6727204fa433",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITQHACC+udYr/+ZklijuC4uwkCVoe0BPzwOGEmgLsLa4wP/tJBf6/PuPdPB0myB4+IuYWm9rNVfQZK0BG7UXQmdkAl9hOjMKGJOoRg6GahAqOP391XTLDAYIey0KfMVOSQ2WOg3CrqvAvhsnXubeCWuuZDbgeT+OhN/OP5fgOh+1EA6dHMEYO21AoCaqYJcA7B7BXz8EvSg/8SOVSqqyESbdFvUo9ZKJMObaPJR1nvuuH1qeZ/nes+dzmLEb2mkSfCLBmFSBEH4w5tq8rFVuxG7+ugocZmmcxplH0OO+GWNvlcp/f4d+6H2AGfiKelEtrOUgIzgkqGUxo4qVypsmL0bZMrkTbpF4Nmov97sBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "30"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-I1mm2ebzW9ZywNqt2DuMIBEFi+Q\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401,
      },
      {
        "_id": "928284c5ab02d14ffecb6727204fa433",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
