{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cabe5602aa05007c68dadb8d7d1eadf5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "[\"IdAHACBW6qzqd1Kef2QZc90XLYI+uqBJlLDlDhx++xP47UHaHuLfAi1IPPLWoiJO8jDdJgge/hE4R29rZRfYZP0Djj4JYROlB18QN7ETMHrxKzkYFkCwcvr9U9yMAxggpCAefMHMyxIcLwIIs40Fa1U3+VzdCP+bn16Al6YLQthv5ABGtwkRBDOiBlYEKXcP/vwmhNGvwxGpWrFAWRj9cPQPsgRf8NsrEAbTY1/cnDbdfJ6rGgTpzaYDAzdCZ0K8XwwwrpWuMtVkSj+pinXOurwrC/2BPhViN17QmRCfJ2uiFMHcqpq8UVXRECbjZYjgIXUdIXRpxXaZLVJ+f/ck4BmBNviC5egHhqXXFFwS/DhGfr31ZrUy/52QpjfCZZOYo09yuxkD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "43"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1f5-+E6qtCJEOhoWFmVGQTvlP/MoZsQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      },
      {
        "_id": "cabe5602aa05007c68dadb8d7d1eadf5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
