{
  "log": {
    "_recordingName": "mergeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4ba26b41f3824cff65a33c7c5330d857",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"mergeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITQHACC+udYr/+ZklijuC4uwkCVoe0BPDzxQKIG2AGuLC/zfTnKhz7//SAdPtwmCh7+IqfW2VnMFTdYasFF7IXRGJvAVpjOjgDGJauRgqAahgtPfX023zGCAsNeiwFfslNRgqdMg7LoK7Ltx4mXunbDmSmYDnvfjSPjt/HMJrvNRC+HQyRGMsdMGBGqiCnYJwO4R/PVD0IvyEz9SqaQqG2HSbVGPUi+ZCGOuzUNZ57nv+qHlppafPHseexGHiR0H2ScSDEkVCKH7wZhr87JWuRG7+esqcJj4Xhy6MUGP+2aMvVUq//0d+qH3AWbgK+pFtbCWg4zgkKCWxYwqVipvmrwYZcvkTrhF4tmovdzvAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-61PhFJGFRIlYzaMDQLSxtsbf5KI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 394,
      },
      {
        "_id": "4ba26b41f3824cff65a33c7c5330d857",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
