{
  "log": {
    "_recordingName": "createCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "76"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386,
      },
      {
        "_id": "012f811bd8347cc22b9a306a2e37e864",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":false,\"status\":413,\"errorMessage\":\"ids array is larger than max 100 or empty\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "75"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"58-u9UY1U+d3Lup7lU4d3OgJHQzmJA\""
            }
          ],
          "status": 413,
          "statusText": "Request Entity Too Large"
        },
        "time": 337,
      },
      {
        "_id": "ceec90d4bec3f82205ef70b71a46614b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"createCollectionTest\",\"sort\":0,\"public\":true,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"IRwHACC+qfOn/V1HhUjbH1YEJ1ExaKtAljtweDh7+i1oe8Da0ioOkwgibpVkmqfbBMHXK2Jq9bZWc4VM1m2w2r0QNio9+ArdaCdgcJBXcjKKZ3EKQkupPz/pZhzAAGHvxIKvWFhZgu2HA2GxacFxmBdRFd4Jf5znJl982MgRjG4DCz2iDhwS2NxT8NcPwY12HKJItZW2VqrNj/ZRljkyQmecPjSxHodx6oW5F6fPUcpZxFHsJ1H8CYAOaSc+0BmnL1NrVABP/jYtOM3SMMmTnOC6/WrtjNe4eOr27+/QFF4GGIGvWI62j1s5SAdOCXYcFbw0nRNCa81qZepONkvvhPsjIavdy/1uAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "74"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "W/\"1c8-DOHIF0ImYtu3k8ixkSC4U3kvY2o\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 443,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
