{
  "log": {
    "_recordingName": "createCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "91"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "012f811bd8347cc22b9a306a2e37e864",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":false,\"status\":413,\"errorMessage\":\"ids array is larger than max 100 or empty\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "90"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"58-u9UY1U+d3Lup7lU4d3OgJHQzmJA\""
            }
          ],
          "status": 413,
          "statusText": "Request Entity Too Large"
        },
        "time": 333,
      },
      {
        "_id": "ceec90d4bec3f82205ef70b71a46614b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"createCollectionTest\",\"sort\":0,\"public\":true,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"IRwHACC+qfOn/V1HhUjbH1YEJ1ExaKtAlrf+odYP1ySbYPsQ2VTIoiAVKRuKVnW6TRA8fLwiVKu3tZoraLJug9XuhbBR6cFX6EY7AQODvJKTUTyLUxBaSP35STfjAAYIeycWfMXCyhIsPxwIi00LjsO8iKrwTvjjvGryxYeNHMHoNmHBR9SBQwKaewr++iG40Y6DFKm00tbKtfnRPsoyR0bojNOHxtfjME69MPfi9DlKOC04zv28Cj8RoE/aiRQ90BmnL1NrVOzkb9OC0ywN46IqCK7br9bOeI1qT9X+/R2awssAI/AVy9H2cSsH6cApwY6jgpemc0JorVmtTN3JZsmdcH8kZLV7ud8NAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "89"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "W/\"1c8-Qwo7DZC3Xodqftl5KF93We/s9uM\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 431,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
