{
  "log": {
    "_recordingName": "uploadCollectionCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "20b7acb9c97cfcb2e0ddb08f28617dfb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"uploadCollectionCover\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 384,
            "text": "[\"IWAHACCmqjbth4x06Qm3xw9bLXqLqXKBRCd93fmB4Zf77SCHttIHHkSSUPNWRwq8dJsgePhLpNufruYCmawfweonIWxUOvAFulEnYEzjft+DwTlpdTP098NePAh2pv76qJuhBwOEKYgHXzDzsgTbuwDCbGPBeVo32SK9EUbjpVdwPzlH+PJ8uAUvjQtC2G/kAIbbBAVBn2gBTgltXcef34Qw+DyJJFUrtneclZ4G/yDLkhXBmaB3bZ/7eZqXUZZFefaU5VzVnGfxoi4/cEGf2INQXeBM0OfRGpWI/G4suFzM60WZLwjBTSsuJWqdI2RG+P3do6JVASPwBcvBA5nLXhy4JPhhUMK89Wa1Mv9OWNAb4UFJzuonud0MAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "35"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "etag",
              "value": "W/\"1d9-NZwOsc/+1nPwiinYjvPFDaV8rP8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406,
      },
      {
        "_id": "a87a25982ed750e718c7a3c87ba855bb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
