{
  "log": {
    "_recordingName": "uploadCollectionCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bb5872400ce4cabd9dbceaf4a5f88d02",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"uploadCollectionCover\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 380,
            "text": "[\"IWAHACCmqjbth4x06Qm3xw9bLXqLqXKBRCd93YHbL/fbQQ7fnj7wJIKEmrc6UuCltyrl8ZOw/Y9dc4FM1o9g9ZMQNiod+ALdqBMwpvG+78HgnLS6Gfr7YS8eBLtTf33UzdCDAcIUxIMvmHlZgu1dAGG2seA8rZtskd4Io/HSK7ifnCN8eT7dgpfGBSHsN3IAw22CgqBPtACnhLZv4M9vQhh8HEWSihU7O+xKt8E/yLJlRXAm6F07536e5mWUZVGePWU55ykXiziblx8o0CE28QJngj6P1qgUzPxuLLhczOumKeaE4KYVlxy1ThEyJfz+7lHhqYAR+ILl4IHMZS8OXBL8MChh0XqzWpl/JyzIjfCgxLP6SW43AwM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "31"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1d9-PFjE4fwtSZKCAEJtRXMCm8xlalU\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "8aaa4651d6a40a2d1d90a78707627b1a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
