{
  "log": {
    "_recordingName": "uploadCollectionCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "95b9747b775c375874a2fa0225f2ef4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"uploadCollectionCover\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ISgHACBm6qrqd65UiNT9fNEhBBR04Gwnz+sO3H653w5y+Pb0gScRJNS81ZHyNLtZKQ9/aZy9x635BU3Wj2CrdyEMVmbwL+xglYCxb/t9D1alpLbDulyuh2gQmpn665sd1gUMEHYjGvyLk5YWLC8MCKehAYd+mgWF/0/45Hy6BrelMkI4BvkEQw3GgsBItAD7hDpT4OdXglm1H2mRSiNNtTAd3VZ9JW2SiqBKYy/qyvZDP4wdP3Ui/yaIOA44jNwwC59wQIc0gReo0tjbrSmtWOZ9aMBxkqRJ4qcEo/aue+zUSg4yJby/H6hwOcAI/It21UDmcogCxwS9rrZhsdFl15WVkvuSf8ITEs9W7/L/bwAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719754889"
            },
            {
              "name": "etag",
              "value": "W/\"1cb-NVyos4RO+adOKdoArTqRDjW+nms\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 474,
      },
      {
        "_id": "c7b13c02c4024c9d3b9513ffbbc9684d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
