{
  "log": {
    "_recordingName": "uploadCollectionCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "114868e8d109fe28f1753ff7f6bd72e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"uploadCollectionCover\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 380,
            "text": "[\"IWAHACCmqjbth4x06Qm3xw9bLXqLqXKBRCd93YHbL/fbQQ7fnj7wJIKEmrc6UuCltyrl8ZOw/Y9dc4FM1o9g9ZMQNiod+ALdqBMwpvG+78HgnLS6Gfr7YS8eBLtTf33UzdCDAcIUxIMvmHlZgu1dAGG2seA8rZtskd4Io/HSK7ifnCN8eT7dgpfGBSHsN3IAw22CgqBPtACnhLZv4M9vQhh8HEWSihU7O+xKt8E/yLJlRXAm6F07536e5mWUZVGePWU5lzlXdZxl+QcKdIhNvMCZoM+jNSoFM78bCy4X83pe1AUhuGnFJUetU4RMCb+/e1R4KmAEvmA5eCBz2YsDlwQ/DEpYtN6sVubfCQtyIzwo8ax+ktvNAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "76"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1d9-nu563EUAGgzKlZyndYs8PhGJjhA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 272,
      },
      {
        "_id": "ce6b179050a20eb2c2072f262db338f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
