{
  "log": {
    "_recordingName": "-991325255_2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ea9f5534e0cc52619a0a0ab017c3222c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":true,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[\"string\"]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"IQgHACC+qfOn/V1HhUjbH1aEgIJO0tou0LoDt98O8u2A/3Y/eEEEgccFrSWZ5mU3pFKGkd7dOckVNFm/ga3eC2GwMoOvsINVAsbb8p1VKantsC4GhAZPf35rh3UBA4S9EQ2+YqOlBcsLA8JmaMChn2ZB4d8JD85TnWxwGOQIhhqMBYGMqIJ9ApR7C/wF/BDMqi3IiVQaaUoFaHRb9aO0WQJBlcY+1KWth34YO37iBMWz73OScZC4QRF9IkCBNI4XqNLYl21TWgm48zc04DgOi6BIIoJR+250uVMr//0dGsKjADXwFe2qeziVgyhwTNDrasFtqYwQGl12XVkpGYDcCasjnq3ey/1uAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1716080295"
            },
            {
              "name": "etag",
              "value": "W/\"1c3-MJSD12kH9L6Pw9aGUDL1rRp/IfY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1715,
      },
      {
        "_id": "920b65c70ef1ce43493d94653dc5824e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[44291953]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[44291953]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1716080295"
            },
            {
              "name": "etag",
              "value": "\"2d-zHuihbUdEnURdvtbJ1/4xgtjfA0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
