{
  "log": {
    "_recordingName": "removeRaindrop",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "848423273c3138d156b27004c226578e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"removeRaindrop\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "[\"IcgGACBmqjrtfx6h1jBsXp1WVaCEatSRcNLX3XbBg+n/R5G15W1tQfNIr4G2rAUSSRnmNnaGKZbjRDW/OJP1D7C6sxCMygr+xWK2GYx31d1zFLnWbIOze2gsCGp0ETB+GvQnfgkE+erF7QoGCJtVQajfO/kOCWcvDvyLg5MRXNrxIBzMAE7jskqa+J+w0l0ssvbNgx+eqOnDAB7bxQvhfwKmdVk6HEEap3kQ10FaXSYJJwVnTZgX+T0IS+v1ah/a4Wq1PYNdW7OBkf2yt8sivRq7ZSgIlyQECcGC+T/hxQzgOk/TJK2zbNpo3UnGzCbBW6dK4+XlAxz3TY4DOEj+/w0D\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "91"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1b3-6dP1lARQcbhpVYwbZwsqXRRKOLU\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 357,
      },
      {
        "_id": "ef591478223345b9be8bbf2156951b22",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop/842212833"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; char[...]
