{
  "log": {
    "_recordingName": "removeRaindrop",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "848423273c3138d156b27004c226578e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"removeRaindrop\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 388,
            "text": "[\"IZwHACCmqjbth4y03FI5bL/WIljMv9xkSExp62674MH0f1FkAbXaguaRpoGmlUWRlEaWO/E5yFL2G9kFZ7L+Ada4E4JXGcAX9H7swPhXnRLnebR+dDFMxgcQ1GsvYPw0aO7xLhDk2EicFAwQxqASoZ4m4m0Sdkki+IJZlC04NZNAmHkHrorlqtwUN8JKd6EI7F8Cf3xR0wsH3to+CeF/AobVsnTYgqqoFlmxyorqsVhwVXJZm3WxeQeht0mfJmfFpdbWuDBYP4Lh/bAJfS+N+jB6iADtxGYlIQQDN8KPd+CyKouqrNfrUq4X4r1swZcS8b5CGO0gYAz+5PvNpiyWINi9VTuPJzJY34OBGyGFqOyFn589uBDr3DlwVt5uAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1e8-qoh/mz21IiKPVM8UWPOsW4bTtw0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 287,
      },
      {
        "_id": "68df031547efd3dfd6329dae32c258a5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop/1210213881"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; cha[...]
