{
  "log": {
    "_recordingName": "removeRaindrop",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "80ae337c1045ab30cb4f3f97eeb3ccd7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"removeRaindrop\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "[\"IcgGACBmqjrtfx6h1jBsXp1WVaCEatSRcNLX3XbBg+n/R5G15W1tQfNIr4G2rAUSSRnmNnaGKZbjRDW/OJP1D7C6sxCMygr+xWK2GYx31d1zFLnWbIOze2gsCGp0ETB+GvQnfgkE+erF7QoGCJtVQajfO/kOCWcvDvyLg5MRXNrxIBzMAE7jskqa+J+w0l0ssvbNgx+eqOnDAB7bxQvhfwKmdVk6HEEap3kQl0EWX8YFZylnWZg26T0IS+v1ah/a4Wq1PYNdW7OBkf2yt8sivRq7ZSgIlyQECcGC+T/hxQzgOm7SvKzzYtpo3UnGzCbBW6dK4+XlAxz3TY4DOEj+/w0D\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719725612"
            },
            {
              "name": "etag",
              "value": "W/\"1b3-1s/2yfIL8uKhPJL8B+EyEmf4q7g\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 367,
      },
      {
        "_id": "4ee00230faf03b5088fb609908fc32c2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop/809246845"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; char[...]
