{
  "log": {
    "_recordingName": "shareCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38ab956700bab359123f9b92263a9355",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"shareCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ISwHACC+qfOn/V1HhUhbh7Wf0E5UdMlWgdYduP1wwG/H49taeAiwIIKEmrcVZZiH6dxGIJAozKmg1XuKG2iyPgerPwhhobIG36ALdQJGl4XZxVAQBjR92vkMA4RDEA++YeRlCtZ/AYTRYgDnad1kXfog7IyXjYI3B+cIzc5v9+CpcUEIx4WcwHCLoCAwEzVwSsB19+CvH0LY+jjSI5VBhl0DSnrY+olMl0wJzgQdywkjT/MyyrIoz56znKua8zqus+YTEzTIMPACZ4K+7AajYit/iwFcdm3dlWVBCO4wq2IV9cp/f8d08HeAHviG6dZnMJajOHBJ8NutVsoP3sxmxjo5MHkQ3pDErP4gj4cBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "22"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "etag",
              "value": "W/\"1cc-sYy4zfMIuB2b/uBN2MNgXz/ueXc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 408,
      },
      {
        "_id": "5d3af7eddfd721cfc06e923cc55944c5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"emails\":[\"example@example.com\"],\"role\":\"viewer\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49869443/sharing"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 132,
            "text": "[\"ISACACCX21L/PExbm1viSEWgqaswNR80Wf+Bt5XOEbRoeYAXDrrNBO/LcJ/XMuxsO4bnZnxgN6OCC85OSgGB08HCC6q1VN9pwimNBevASkyjjpOJOkwH3WaCOb8BAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732197387"
            },
            {
              "name": "etag",
              "value": "W/\"89-7/qw8PISkGpBhu+ZDlYEqGF0YT4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 343,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
