{
  "log": {
    "_recordingName": "shareCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bb067f89361da5a92a3b497a199554d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"shareCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ISwHACC+qfOn/V1HhUhbh7Wf0E5UdMlWgdadHxh+OOC3Y1hbCw8B1hZJQs3bijLMw3RuIxBIFOZU0Oo9xQ00WZ+D1R+EsFBZg2/QhToBo8vC7GI4EAY0fd75DAOEQxAPvmHkZQrWfwGE0WIA52ndZF36IOyMl42CNwfnCM3Ob/fgqXFBCMeFnMBwi6AgMBP14JSA627BXz+EsPVxokeqgwy7RpT0sPUTmS6ZEpwJOpYTRp7mZZRlUZ49ZzmXOVddXOXVJyZok2Eg1Bc4E/RlNxgVW/lbDOCya+u2qDtCcIdZFauoV/n7O6ZDvwP0wDdMtz6DsRzFgUuC3261UnbwZjYz1smB6YPwhiRm9Qd5PAwD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "55"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1cc-QRKXZGQcLVFQii1FkAVJV+tFszc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 322,
      },
      {
        "_id": "d4751955c976f3b1a959ada304cbe846",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"emails\":[\"example@example.com\"],\"role\":\"viewer\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868369/sharing"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 132,
            "text": "[\"ISACACBKbUt9+WXvQGuuiSMVgaauwtR8aLL+g+K53lbg2ed2QwFWro5MRlYpT9KbPJc5syANScO29MwTBJZxm1FgeJ7jLrQuj0Nd5bg1136ocdfTPm6alasjOb8BAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732196579"
            },
            {
              "name": "etag",
              "value": "W/\"89-cbUCdMf3mBWQxAlRlvZDaKhVk3I\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
