{
  "log": {
    "_recordingName": "shareCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4d5d33c7037ce3aa94eca7ec3aafa598",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"shareCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ISwHACC+qfOn/V1HhUhbh7Wf0E5UdMlWgdYduP1wwG/H49taeAiwIIKEmrcVZZiH6dxGIJAozKmg1XuKG2iyPgerPwhhobIG36ALdQJGl4XZxVAQBjR92vkMA4RDEA++YeRlCtZ/AYTRYgDnad1kXfog7IyXjYI3B+cIzc5v9+CpcUEIx4WcwHCLoCAwEzVwSsB19+CvH0LY+jjSI5VBhl0DSnrY+olMl0wJzgQdywkjT/MyyrIoz56znPOUyyKuiuoTEzTIMPACZ4K+7AajYit/iwFcdm3dNGVLCO4wq2IV9cp/f8d08HeAHviG6dZnMJajOHBJ8NutVsoP3sxmxjo5MHkQ3pDErP4gj4cBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "20"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1cc-lag6uPK/aeOAvbfWiHSXf1z8BOk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 407,
      },
      {
        "_id": "26bc14f7ef8c41452710ea38124723a0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"emails\":[\"example@example.com\"],\"role\":\"viewer\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49867748/sharing"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 132,
            "text": "[\"ISACACCGbUv98pu3JqgmRioCTV2FqfnQZP0H6bneluDZ53ZDguiEiEFomr331JRcaA5O0qq7IKNwuvUVBMu4zUgYnue4E+f5ONiVx6259oONO5/2ceOiEyIGzm8AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732195244"
            },
            {
              "name": "etag",
              "value": "W/\"89-7Tccva0S48UWOZ/2NGai3itQ67Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
