{
  "log": {
    "_recordingName": "shareCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1b23d9aa4e068574c4569fb4ba7cc09d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"shareCollection\",\"sort\":0,\"public\":false,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 403,
            "text": "[\"IcgHACAQ9XO+8juVl84LlM59YRECVwxw2XIHDr/9QYBtj2EQ/1aABYlHHkRFEST56+aSwWSRgzpev8/qikxWc7RvBxN2vRXolX7X54ayZWFxMQJCxqbv6phREIbOWvTKpLU1ahYdwmSXoYGbL/yVuwvrzS+n6DrOOxPGnR1R8l3XI2gRjagTmNw1+vUjdFWbhyBSySzrk3nRH6v20dbolb9at4QyLgyl2J13+WrluzmCFfEuR+Eu5HHXP4yzowQumHlu4bng2c008DVYTJfL2Sd1Oiw7+EEed/1LncW9ObV5NFv4CzeLfKGOWyt7tBzyXOjyYQN246Xm//5GXPCJwBi9sq7aeSHoNUcjoa2qHl6dtfFmEye5YSZ34alJqn072P1uAA==\",\"Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "36"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1f3-gjaDwnkMUfrea0lYIWz8QFPYfQg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      },
      {
        "_id": "98da6910396eb6ad14798f18858be463",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"emails\":[\"example@example.com\"],\"role\":\"viewer\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/57170541/sharing"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 135,
            "text": "[\"ISACACCGbUv98pu3JqgmRioCTV2FqfnQZP0H6bneluDZ53ZDQuetFrVrqPdNoEaUSoPzhWrVqsYFI0vWIFjGbUbC8DzHnTjPx8GuPG7NtR9s3Pm0jxvvvNWicn4D\",\"Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751437288"
            },
            {
              "name": "etag",
              "value": "W/\"89-nz39cru8KSJv62RR/eL7Ns+W1Kw\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
