{
  "log": {
    "_recordingName": "shareCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4d5d33c7037ce3aa94eca7ec3aafa598",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"shareCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ISwHACC+qfOn/V1HhUhbh7Wf0E5UdMlWgdadHxh+OOC3Y1hbCw8B1hZJQs3bijLMw3RuIxBIFOZU0Oo9xQ00WZ+D1R+EsFBZg2/QhToBo8vC7GI4EAY0fd75DAOEQxAPvmHkZQrWfwGE0WIA52ndZF36IOyMl42CNwfnCM3Ob/fgqXFBCMeFnMBwi6AgMBP14JSA627BXz+EsPVxokeqgwy7RpT0sPUTmS6ZEpwJOpYTRp7mZZRlUZ49ZzmXHadN3LbFJyZok2EglBc4E/RlNxgVW/lbDOCya+u2SXNCcIdZFauoV/n7O6ZDvwP0wDdMtz6DsRzFgUuC3261UnbwZjYz1smB6YPwhiRm9Qd5PAwD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "22"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1cc-nm+Ej7cy/ESDhO8oRkn3rWAWasg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 413,
      },
      {
        "_id": "18ed87711bce3db26a5b862f976c5224",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"emails\":[\"example@example.com\"],\"role\":\"viewer\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868702/sharing"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 132,
            "text": "[\"ISACACCGbUv98pu3JqgmRioCTV2FqfnQZP0H6bneluDZ53ZDQqlFVNkU2olsqbFW0WDbTGPsgohCqSw8CJZxm5EwPM9xJ87zcbArj1tz7Qcbdz7t48ZLLaJKzm8AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732196948"
            },
            {
              "name": "etag",
              "value": "W/\"89-MnIVrSLS+OCfvOt8wK4AXxr77ts\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 345,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
