openapi: 3.0.3
info:
  title: Raindrop API (Unofficial)
  description: |-
    **UNOFFICIAL** OpenAPI specification of Raindrop API.

    This OpenAPI spec has been made by hand with reference to official documentation because it is not provided by Raindrop.io.

    Because official documentation not maintained well, there are very (highly) likely to have mismatch in schemas.
    As we can't inspect and address all issues, schema being updated as we find issues.

    Any contributions are welcome. Bug report, schema update, adding descriptions or functions, please don't hesitate to create an issue.
  version: 0.1.0
  termsOfService: https://developer.raindrop.io/terms
  contact:
    name: API documentation issues
    url: https://github.com/lasuillard/raindrop-client/issues
externalDocs:
  description: Official Raindrop API documentation
  url: https://developer.raindrop.io/
servers:
  - url: https://api.raindrop.io
    description: Raindrop API Server
tags:
  - name: authentication
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/authentication
  - name: collection
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/collections
  - name: raindrop
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/raindrops
  - name: highlight
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/highlights
  - name: user
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/user
  - name: tag
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/tags
  - name: filter
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/filters
  - name: import
    externalDocs:
      description: Official documentation
      url: https://developer.raindrop.io/v1/import
security:
  - bearerAuth: []
paths:
  /v1/oauth/authorize:
    get:
      operationId: authorize
      tags:
        - authentication
      # checkov:skip=CKV_OPENAPI_5:Auth endpoint open to unauthorized users
      security: []
      parameters:
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          in: query
          required: true
          schema:
            type: string
      responses:
        307:
          description: Redirect to Raindrop authorization page
  /v1/oauth/access_token:
    post:
      operationId: getOrRefreshToken
      tags:
        - authentication
      security: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ObtainToken"
                - $ref: "#/components/schemas/RefreshToken"
            examples:
              Obtain new token:
                value:
                  code: c8983220-1cca-4626-a19d-801a6aae003c
                  client_id: 5e1c589cf6f48c0211311383
                  redirect_uri: https://oauthdebugger.com/debug
                  client_secret: c3363988-9d27-4bc6-a0ae-d126ce78dc09
                  grant_type: authorization_code
              Refresh existing token:
                value:
                  client_id: 5e1c589cf6f48c0211311383
                  client_secret: c3363988-9d27-4bc6-a0ae-d126ce78dc09
                  grant_type: refresh_token
                  # checkov:skip=CKV_SECRET_6:Just an example secrets
                  refresh_token: c8080368-fad2-4a9f-b2c9-73d3z850111b
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/TokenResponse"
                  - $ref: "#/components/schemas/TokenErrorResponse"

  /rest/v1/collections:
    get:
      operationId: getRootCollections
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRootCollectionsResponse"
    put:
      operationId: reorderAllCollections
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sort:
                  type: string
                expanded:
                  type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleResponse"
    delete:
      operationId: removeCollections
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                # checkov:skip=CKV_OPENAPI_21:Source documentation does not provide max item detail
                ids:
                  type: array
                  items:
                    type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveCollectionsResponse"

  /rest/v1/collections/childrens:
    get:
      operationId: getChildCollections
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetChildCollectionsResponse"

  /rest/v1/collection/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/CollectionID"
    get:
      operationId: getCollection
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCollectionResponse"
    put:
      operationId: updateCollection
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCollectionRequest"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCollectionResponse"
    delete:
      operationId: removeCollection
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /rest/v1/collection:
    post:
      operationId: createCollection
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollectionRequest"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCollectionResponse"

  /rest/v1/collection/{id}/cover:
    put:
      operationId: uploadCollectionCover
      tags:
        - collection
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                cover:
                  type: string
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCollectionCoverResponse"

  /rest/v1/collections/merge:
    put:
      operationId: mergeCollections
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: integer
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MergeCollectionsResponse"

  /rest/v1/collections/clean:
    put:
      operationId: removeAllEmptyCollections
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveAllEmptyCollectionsResponse"

  /rest/v1/collection/-99:
    delete:
      operationId: emptyTrash
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleResponse"

  /rest/v1/user/stats:
    get:
      operationId: getSystemCollectionStats
      tags:
        - collection
        - user
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSystemCollectionStatsResponse"

  /rest/v1/collection/{id}/sharing:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/CollectionID"
    get:
      operationId: getCollaborators
      tags:
        - collection
      responses:
        200:
          description: OK
    post:
      operationId: shareCollection
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: "#/components/schemas/Role"
                emails:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: true
                  emails:
                    type: array
                    items:
                      type: string
                      format: email
    delete:
      operationId: unshareOrLeaveCollection
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /rest/v1/collection/{id}/sharing/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/CollectionID"
    put:
      operationId: changeCollaboratorAccessLevel
      tags:
        - collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  $ref: "#/components/schemas/Role"
      responses:
        200:
          description: OK
    delete:
      operationId: deleteCollaborator
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /rest/v1/collection/{id}/join:
    post:
      operationId: acceptInvitation
      tags:
        - collection
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CollectionID"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                  role:
                    $ref: "#/components/schemas/Role"

  /rest/v1/collections/covers/{text}:
    get:
      operationId: searchCovers
      tags:
        - collection
      parameters:
        - name: text
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoverResponse"

  /rest/v1/collections/covers:
    get:
      operationId: getFeaturedCovers
      tags:
        - collection
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFeaturedCoversResponse"

  /rest/v1/raindrop:
    post:
      operationId: createRaindrop
      tags:
        - raindrop
      requestBody:
        $ref: "#/components/requestBodies/CreateRaindropRequestBody"
      responses:
        200:
          $ref: "#/components/responses/CreateRaindropResponse"

  /rest/v1/raindrop/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getRaindrop
      tags:
        - raindrop
        - highlight
      responses:
        200:
          description: OK
    put:
      operationId: updateRaindrop
      tags:
        - raindrop
        - highlight
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRaindrop"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaindropResponseOne"
    delete:
      operationId: removeRaindrop
      tags:
        - raindrop
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /rest/v1/raindrop/file:
    put:
      operationId: uploadFile
      tags:
        - raindrop
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                collectionId:
                  type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaindropResponseOne"

  /rest/v1/raindrop/{id}/cover:
    put:
      operationId: uploadRaindropCover
      tags:
        - raindrop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                cover:
                  type: string
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaindropResponseOne"

  /rest/v1/raindrop/{id}/cache:
    get:
      operationId: getPermanentCopy
      tags:
        - raindrop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        307:
          description: OK

  /rest/v1/raindrop/suggest:
    post:
      operationId: suggestForNewBookmark
      tags:
        - raindrop
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                link:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuggestResponse"

  /rest/v1/raindrop/{id}/suggest:
    get:
      operationId: suggestForExistingBookmark
      tags:
        - raindrop
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuggestResponse"

  /rest/v1/raindrops/{collectionId}:
    parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: getRaindrops
      tags:
        - raindrop
      parameters:
        - name: sort
          in: query
          schema:
            type: string
        - name: perpage
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaindropResponseMany"
    put:
      operationId: updateRaindrops
      tags:
        - raindrop
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                important:
                  type: boolean
                tags:
                  type: array
                  items:
                    type: string
                media:
                  type: array
                  items:
                    type: string
                    format: uri
                cover:
                  type: string
                collection:
                  type: object
                  properties:
                    $id:
                      type: integer
      responses:
        200:
          description: OK
    delete:
      operationId: removeRaindrops
      tags:
        - raindrop
      parameters:
        - name: search
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                  modified:
                    type: integer

  /rest/v1/raindrops:
    post:
      operationId: createRaindrops
      tags:
        - raindrop
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/CreateRaindrop"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RaindropResponseMany"

  /rest/v1/highlights:
    get:
      operationId: getAllHighlights
      tags:
        - highlight
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: perpage
          in: query
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HighlightResponse"

  /rest/v1/highlights/{collectionId}:
    get:
      operationId: getHighlightsInCollection
      tags:
        - highlight
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: perpage
          in: query
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HighlightResponse"

  /rest/v1/user:
    get:
      operationId: getCurrentUser
      tags:
        - user
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
    put:
      operationId: updateCurrentUser
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groups:
                  type: array
                  items:
                    $ref: "#/components/schemas/Group"
                config:
                  $ref: "#/components/schemas/UserConfig"
                newpassword:
                  type: string
                oldpassword:
                  type: string
                fullName:
                  type: string
                email:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"

  /rest/v1/user/{name}:
    get:
      operationId: getPublicUserByName
      tags:
        - user
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - properties:
                      _id:
                        type: integer
                      email_MD5:
                        $ref: "#/components/schemas/MD5"
                      fullName:
                        type: string
                      pro:
                        type: boolean
                      registered:
                        type: string
                        format: date-time

  /rest/v1/user/connect/{provider}:
    get:
      operationId: connectSocialNetworkProvider
      tags:
        - user
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [facebook, google, twitter, vkontate, dropbox, gdrive]
      responses:
        307:
          description: Redirect

  /rest/v1/user/connect/{provider}/revoke:
    get:
      operationId: disconnectSocialNetworkProvider
      tags:
        - user
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [facebook, google, twitter, vkontate, dropbox, gdrive]
      responses:
        200:
          description: OK

  /rest/v1/tags/{collectionId}:
    get:
      operationId: getTagsInCollection
      tags:
        - tag
      parameters:
        - name: collectionId
          in: path
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            count:
                              type: integer
    put:
      operationId: renameOrMergeTags
      tags:
        - tag
      parameters:
        - name: collectionId
          in: path
          required: false
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replace:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"
    delete:
      operationId: removeTagsFromCollection
      tags:
        - tag
      parameters:
        - name: collectionId
          in: path
          required: false
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /rest/v1/filters/{collectionId}:
    get:
      operationId: getFilters
      tags:
        - filter
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: integer
        - name: tagsSort
          in: query
          schema:
            type: string
            enum: [-count, _id]
        - name: search
          in: query
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilterResponse"

  /rest/v1/import/url/parse:
    get:
      operationId: parseURL
      tags:
        - import
      parameters:
        - name: url
          in: query
          schema:
            type: string
            format: uri
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ParseUrlResponse"
                  - $ref: "#/components/schemas/ParseUrlErrorResponse"

  /rest/v1/import/url/exists:
    post:
      operationId: checkURLsExist
      tags:
        - import
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    format: uri
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - properties:
                      ids:
                        type: array
                        items:
                          type: integer
              examples:
                Found:
                  value:
                    result: true
                    ids:
                      - 3322
                      - 12323
                Not found:
                  value:
                    result: false
                    ids: []

  /rest/v1/import/file:
    post:
      operationId: importHTMLBookmarkFile
      tags:
        - import
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                import:
                  type: string
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportFileResponse"
components:
  securitySchemes:
    # checkov:skip=CKV_OPENAPI_3:FIXME
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Response:
      type: object
      required: [result]
      properties:
        result:
          type: boolean
    ErrorResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [error, errorMessage]
          properties:
            error:
              type: string
            errorMessage:
              type: string
    ObtainToken:
      type: object
      required: [grant_type, code, client_id, client_secret, redirect_uri]
      properties:
        grant_type:
          type: string
          enum: [authorization_code]
        code:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        redirect_uri:
          type: string
    RefreshToken:
      type: object
      required: [client_id, client_secret, grant_type, refresh_token]
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant_type:
          type: string
          enum: [refresh_token]
        refresh_token:
          type: string
    TokenResponse:
      type: object
      required: [access_token, refresh_token, expires_in, token_type]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires:
          type: integer
          deprecated: true
        expires_in:
          type: integer
        token_type:
          type: string
          enum: [Bearer]
    TokenErrorResponse:
      type: object
      required: [result, status, errorMessage]
      properties:
        result:
          type: boolean
        status:
          type: integer
        errorMessage:
          type: string

    CollectionResponseOne:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items]
          properties:
            item:
              $ref: "#/components/schemas/Collection"
    CollectionResponseMany:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Collection"

    StatResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items, meta]
          properties:
            items:
              type: array
              items:
                type: object
                required: [_id, count]
                properties:
                  _id:
                    type: integer
                  count:
                    type: integer
            meta:
              type: object
              required: [pro, _id, changedBookmarksDate, duplicates, broken]
              properties:
                pro:
                  type: boolean
                _id:
                  type: integer
                changedBookmarksDate:
                  type: string
                  format: date-time
                duplicates:
                  type: object
                  required: [count]
                  properties:
                    count:
                      type: integer
                broken:
                  type: object
                  required: [count]
                  properties:
                    count:
                      type: integer
    Cover:
      type: object
      required: [title, icons]
      properties:
        title:
          type: string
        icons:
          type: array
          items:
            type: object
            required: [png] # SVG possibly not given
            properties:
              png:
                type: string
                format: uri
              svg:
                type: string
                format: uri
    CoverResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Cover"
    RaindropBase:
      type: object
      required:
        [
          created,
          lastUpdate,
          order,
          important,
          reminder,
          tags,
          media,
          cover,
          collection,
          type,
          excerpt,
          note,
          title,
          link,
          highlights,
        ]
      properties:
        created:
          type: string
          format: date-time
        lastUpdate:
          type: string
          format: date-time
        sort:
          type: integer
        important:
          type: boolean
        reminder:
          type: object
          required: [date]
          properties:
            date:
              type: string
              format: uri
              nullable: true
        tags:
          type: array
          items:
            type: string
        media:
          type: array
          items:
            type: object
            required: [type, link]
            properties:
              type:
                type: string
                enum: [link, image]
              link:
                type: string
                format: uri
        cover:
          type: string
        collection:
          $ref: "#/components/schemas/CollectionRef"
        type:
          type: string
        excerpt:
          type: string
        note:
          type: string
        title:
          type: string
        link:
          type: string
        highlights:
          type: array
          items:
            $ref: "#/components/schemas/Highlight"
    Raindrop:
      allOf:
        - $ref: "#/components/schemas/RaindropBase"
        - type: object
          required: [_id, domain, user, broken, cache, creatorRef]
          properties:
            _id:
              type: integer
            domain:
              type: string
            creatorRef:
              $ref: "#/components/schemas/CreatorRef"
            user:
              $ref: "#/components/schemas/UserRef"
            broken:
              type: boolean
            cache:
              type: object
              required: [status, size, created]
              properties:
                status:
                  type: string
                  enum:
                    [
                      ready,
                      retry,
                      failed,
                      invalid-origin,
                      invalid-timeout,
                      invalid-size,
                    ]
                size:
                  type: integer
                created:
                  type: string
                  format: date-time
            file:
              type: object
              required: [name, size, type]
              properties:
                name:
                  type: string
                size:
                  type: integer
                type:
                  type: string
    RaindropResponseOne:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [item, author]
          properties:
            item:
              $ref: "#/components/schemas/Raindrop"
            author:
              type: boolean
    RaindropResponseMany:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items, count, collectionId]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Raindrop"
            count:
              type: integer
            collectionId:
              $ref: "#/components/schemas/CollectionID"
    CreateRaindrop:
      allOf:
        - $ref: "#/components/schemas/RaindropBase"
        - properties:
            pleaseParse:
              type: object
    Highlight:
      type: object
      required: [_id, text, color, note, created]
      properties:
        _id:
          type: string
        text:
          type: string
        color:
          type: string
          enum:
            [
              blue,
              brown,
              cyan,
              gray,
              green,
              indigo,
              orange,
              pink,
              purple,
              red,
              teal,
              yellow,
            ]
        note:
          type: string
        created:
          type: string
    HighlightItem:
      allOf:
        - $ref: "#/components/schemas/Highlight"
        - required: [raindropRef, link, title, tags]
          properties:
            raindropRef:
              type: integer
            link:
              type: string
              format: uri
            title:
              type: string
            tags:
              type: array
              items:
                type: string
    HighlightResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/HighlightItem"
    Suggest:
      type: object
      required: [collections, tags]
      properties:
        collections:
          type: array
          items:
            $ref: "#/components/schemas/CollectionRef"
        tags:
          type: array
          items:
            type: string
    SuggestResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [item]
          properties:
            item:
              $ref: "#/components/schemas/Suggest"
    UserConfig:
      type: object
      required:
        [
          broken_level,
          font_size,
          last_collection,
          raindrops_sort,
          raindrops_view,
        ]
      properties:
        broken_level:
          type: string
        font_color:
          type: string
        font_size:
          type: integer
        lang:
          type: string
        last_collection:
          type: integer
        raindrops_buttons:
          type: array
          items:
            type: string
        raindrops_hide:
          type: array
          items:
            type: string
        raindrops_search_by_score:
          type: boolean
        raindrops_search_incollection:
          type: boolean
        raindrops_sort:
          $ref: "#/components/schemas/SortBy"
        default_collection_view:
          type: string
        nested_view_legacy:
          type: boolean
        add_default_collection:
          type: number
        acknowledge:
          type: array
        ai_suggestions:
          type: boolean
    User:
      type: object
      required:
        [_id, config, email, files, fullName, groups, password, pro, registered]
      properties:
        _id:
          type: integer
        config:
          $ref: "#/components/schemas/UserConfig"
        dropbox:
          type: object
          required: [enabled]
          properties:
            enabled:
              type: boolean
        email:
          type: string
          format: email
        email_MD5:
          $ref: "#/components/schemas/MD5"
        files:
          type: object
          required: [used, size, lastCheckPoint]
          properties:
            used:
              type: integer
            size:
              type: integer
            lastCheckPoint:
              type: string
              format: date-time
        fullName:
          type: string
        gdrive:
          type: object
          required: [enabled]
          properties:
            enabled:
              type: boolean
        groups:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        password:
          type: boolean
        pro:
          type: boolean
        proExpire:
          type: string
          format: date-time
        registered:
          type: string
          format: date-time
        tfa:
          type: object
          properties:
            enabled:
              type: boolean
        name:
          type: string
        avatar:
          type: string
        lastAction:
          type: string
          format: date-time
        lastVisit:
          type: string
          format: date-time
        lastUpdate:
          type: string
          format: date-time

    Group:
      type: object
      required: [title, hidden, sort, collections]
      properties:
        title:
          type: string
        hidden:
          type: boolean
        sort:
          type: integer
        collections:
          type: array
          items:
            type: integer
    UserResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [user]
          properties:
            user:
              $ref: "#/components/schemas/User"
    Filter:
      type: object
      required: [broken, duplicates, important, notag, tags, types]
      properties:
        broken:
          type: object
          required: [count]
          properties:
            count:
              type: integer
        duplicates:
          type: object
          required: [count]
          properties:
            count:
              type: integer
        important:
          type: object
          required: [count]
          properties:
            count:
              type: integer
        notag:
          type: object
          required: [count]
          properties:
            count:
              type: integer
        tags:
          type: array
          items:
            type: object
            required: [_id, count]
            properties:
              _id:
                type: string
              count:
                type: integer
        types:
          type: array
          items:
            type: object
            required: [_id, count]
            properties:
              _id:
                type: string
              count:
                type: integer
    FilterResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - $ref: "#/components/schemas/Filter"
    UrlParse:
      type: object
      required: [title, excerpt, media, type, meta]
      properties:
        title:
          type: string
        excerpt:
          type: string
        media:
          type: array
          items:
            type: object
            required: [type, link]
            properties:
              type:
                type: string
              link:
                type: string
                format: uri
        type:
          type: string
        meta:
          type: object
          required: [possibleArticle, canonical, site, tags]
          properties:
            possibleArticle:
              type: boolean
            canonical:
              type: string
            site:
              type: string
            tags:
              type: array
              items:
                type: string
    UrlParseResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [item]
          properties:
            item:
              $ref: "#/components/schemas/UrlParse"
    UrlParseErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - required: [item]
          properties:
            item:
              $ref: "#/components/schemas/UrlParse"
    Bookmark:
      type: object
      required: [link, title, lastUpdate, tags, excerpt]
      properties:
        link:
          type: string
          format: uri
        title:
          type: string
        lastUpdate:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        excerpt:
          type: string
    Folder:
      type: object
      required: [title, folders, bookmarks]
      properties:
        title:
          type: string
        folders:
          type: array
          items:
            $ref: "#/components/schemas/Folder"
        bookmarks:
          type: array
          items:
            $ref: "#/components/schemas/Bookmark"
    ImportFileResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/Folder"
    CollectionID:
      type: integer
    View:
      type: string
      enum: [list, simple, grid, masonry]
    Sort:
      type: integer
    SortBy:
      type: string
    Role:
      type: string
      enum: [member, viewer]

    MD5:
      type: string

    ParseUrlResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - required: [item]
          properties:
            item:
              $ref: "#/components/schemas/UrlParse"

    ParseUrlErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - required: [item]
          properties:
            item:
              $ref: "#/components/schemas/UrlParse"

    # TODO: Re-declare schema per API responses rather than making it reusable
    UserRef:
      type: object
      required: [$id, $ref]
      properties:
        $id:
          type: integer
        $ref:
          type: string

    CreatorRef:
      type: object
      required: [_id, email, name]
      properties:
        _id:
          type: integer
        email:
          type: string
        name:
          type: string

    CollectionRef:
      type: object
      required: [$ref, $id]
      properties:
        $ref:
          type: string
          enum: [collections]
        $id:
          type: integer
        oid:
          type: integer

    CollectionAccess:
      type: object
      required: [draggable, for, level, root]
      properties:
        draggable:
          type: boolean
        for:
          type: integer
        level:
          type: integer
        root:
          type: boolean

    Collection:
      type: object
      required: [
          _id,
          title,
          description,
          user,
          parent,
          public,
          view,
          count,
          cover,
          sort,
          expanded,
          creatorRef,
          lastAction,
          created,
          lastUpdate,
          slug,
          # If cover image exists
          # color,
          access,
          author,
        ]
      properties:
        _id:
          type: integer
        title:
          type: string
        description:
          type: string
        user:
          $ref: "#/components/schemas/UserRef"
        public:
          type: boolean
        view:
          type: string
        count:
          type: integer
        cover:
          type: array
          items:
            type: string
        sort:
          type: integer
        expanded:
          type: boolean
        creatorRef:
          $ref: "#/components/schemas/CreatorRef"
        lastAction:
          type: string
          format: date-time
        created:
          type: string
          format: date-time
        lastUpdate:
          type: string
          format: date-time
        slug:
          type: string
        color:
          type: string
        access:
          $ref: "#/components/schemas/CollectionAccess"
        author:
          type: boolean

    SimpleResponse:
      type: object
      required: [result]
      properties:
        result:
          type: boolean

    GetRootCollectionsResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/Collection"

    RemoveCollectionsResponse:
      type: object
      required: [result, modified, ids]
      properties:
        result:
          type: boolean
        modified:
          type: integer
        ids:
          type: array
          items:
            type: integer

    GetChildCollectionsResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/Collection"
              - type: object
                required: [parent]
                properties:
                  parent:
                    $ref: "#/components/schemas/CollectionRef"

    GetCollectionResponse:
      type: object
      properties:
        result:
          type: boolean
        item:
          $ref: "#/components/schemas/Collection"

    UpdateCollectionRequest:
      type: object
      properties:
        view:
          type: string
        title:
          type: string
        sort:
          type: integer
        public:
          type: boolean
          description: "Collection and raindrops that it contains will be accessible without authentication?"
        parent:
          $ref: "#/components/schemas/CollectionRef"
        cover:
          type: array
          items:
            type: string
            format: uri
        expanded:
          type: boolean

    UpdateCollectionResponse:
      type: object
      required: [result, item]
      properties:
        result:
          type: boolean
        item:
          $ref: "#/components/schemas/Collection"

    CreateCollectionRequest:
      type: object
      required: [view, title, sort, public, cover]
      properties:
        view:
          type: string
        title:
          type: string
        sort:
          type: integer
        public:
          type: boolean
        parent:
          $ref: "#/components/schemas/CollectionRef"
        cover:
          type: array
          items:
            type: string
            format: uri

    CreateCollectionResponse:
      type: object
      required: [result, item]
      properties:
        result:
          type: boolean
        item:
          allOf:
            - $ref: "#/components/schemas/Collection"
            - type: object
              required: [__v, creatorRef]
              properties:
                __v:
                  type: integer
                creatorRef:
                  type: integer

    UploadCollectionCoverResponse:
      type: object
      required: [result, item]
      properties:
        result:
          type: boolean
        item:
          allOf:
            - $ref: "#/components/schemas/Collection"
            - type: object
              required: [__v]
              properties:
                __v:
                  type: integer

    MergeCollectionsResponse:
      type: object
      required: [result, modified, ids]
      properties:
        result:
          type: boolean
        modified:
          type: integer
        ids:
          type: array
          items:
            type: integer

    RemoveAllEmptyCollectionsResponse:
      type: object
      required: [result, count]
      properties:
        result:
          type: boolean
        count:
          type: integer

    GetSystemCollectionStatsResponse:
      type: object
      required: [result, items, meta]
      properties:
        result:
          type: boolean
        items:
          type: array
          items:
            type: object
            required: [count, _id]
            properties:
              count:
                type: integer
              _id:
                type: integer
        meta:
          type: object
          required: [pro, _id, changedBookmarksDate]
          properties:
            _id:
              type: integer
            pro:
              type: boolean
            changedBookmarksDate:
              type: string
              format: date-time

    # GetCollaboratorsResponse
    # ShareCollectionResponse
    # UnshareOrLeaveCollectionResponse
    # ChangeCollaboratorAccessLevelResponse
    # DeleteCollaboratorResponse
    # AcceptInvitationResponse

    SearchCoversResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array
          items:
            type: object
            required: [title, icons]
            properties:
              title:
                type: string
              icons:
                type: array
                items:
                  type: object
                  required: [png]
                  properties:
                    png:
                      type: string
                      format: uri

    GetFeaturedCoversResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array
          items:
            type: object
            required: [title, icons]
            properties:
              title:
                type: string
              link:
                type: string
                format: uri
              sort:
                type: integer
              icons:
                type: array
                items:
                  type: object
                  required: [png]
                  properties:
                    png:
                      type: string
                      format: uri

    GetFiltersResponse:
      type: object
      required: [collectionId, created, result, tags, types]
      additionalProperties:
        type: object
        required: [_id, count]
        properties:
          _id:
            type: string
          count:
            type: integer

      properties:
        result:
          type: boolean
        collectionId:
          type: integer
        created:
          type: array
          items:
            type: object
            required: [_id, count]
            properties:
              _id:
                type: string
              count:
                type: integer
        tags:
          type: array
          items:
            type: object
            required: [_id, count]
            properties:
              _id:
                type: string
              count:
                type: integer
        types:
          type: array
          items:
            type: object
            required: [_id, count]
            properties:
              _id:
                type: string
              count:
                type: integer

    GetAllHighlightsResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array

    getHighlightsInCollectionResponse:
      type: object
      required: [result, items]
      properties:
        result:
          type: boolean
        items:
          type: array

  requestBodies:
    CreateRaindropRequestBody:
      content:
        application/json:
          schema:
            type: object
            required: [link]
            properties:
              pleaseParse:
                type: object
              created:
                type: string
              lastUpdate:
                type: string
              order:
                type: number
              important:
                type: boolean
              tags:
                type: array
              media:
                type: array
              cover:
                type: string
              collection:
                type: object
              type:
                type: string
              excerpt:
                type: string
              title:
                type: string
              link:
                type: string
              highlights:
                type: array
              reminder:
                type: object

  responses:
    CreateRaindropResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            required: [result, item]
            properties:
              result:
                type: boolean
              item:
                type: object
                required:
                  [
                    __v,
                    _id,
                    collection,
                    collectionId,
                    cover,
                    created,
                    creatorRef,
                    domain,
                    excerpt,
                    lastUpdate,
                    link,
                    media,
                    note,
                    removed,
                    sort,
                    tags,
                    title,
                    type,
                    user,
                  ]
                properties:
                  __v:
                    type: integer
                  _id:
                    type: integer
                  collection:
                    $ref: "#/components/schemas/CollectionRef"
                  collectionId:
                    type: integer
                  cover:
                    type: string
                  created:
                    type: string
                    format: date-time
                  creatorRef:
                    type: integer
                  domain:
                    type: string
                  excerpt:
                    type: string
                  lastUpdate:
                    type: string
                    format: date-time
                  link:
                    type: string
                    format: uri
                  media:
                    type: array
                    items:
                      type: string
                  note:
                    type: string
                  removed:
                    type: boolean
                  sort:
                    type: integer
                  tags:
                    type: array
                    items:
                      type: string
                  title:
                    type: string
                  type:
                    type: string
                  user:
                    $ref: "#/components/schemas/UserRef"
