{
  "log": {
    "_recordingName": "-991325255_8",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a246215c7ae2287c23fa1f3efd8eef5b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"test_uploadCollectionCover\",\"sort\":0,\"public\":false,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 380,
            "text": "[\"IVAHACBmOa3qd1yKfOCxup8vuhgIIh7YvhN8Xnf+HZR/uWcHCdpKH3gQSULN2wspT7OblfLwl8bZe9yaX9Bk/Q1WtwphUJnBv9BBrYCh4vV9PS353ThaK7UOx+XyuIkDoRmsv37S4biAAcLqxYF/sXPSguWFB2E3NOA0LvbJIf4n/HT+uAa3pfVC2Ab5BMMOXkGgJVqAY0KdyfDzK8EfnZ+5kWojTck0Ij0d3ZW0SSqCLb1e1JX50zg1QVwEqblJEjY5xyY0Rf6EA/qkCYTiAlt6vT01pYp53ocGbHITx4eiIHi7di3EIAS1SgAvEt7fN2i8JmAE/kV7dGjmsokFG4I7HrVrtnFl15WVlZvTf8JjkpzVrfL/bwAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719229564"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-IkP3Y4TZ2NCRe5Kruw1k1c6l3D4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1467,
      },
      {
        "_id": "b07ff6be1605466c24009b96fcbc1d46",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=axios-1.7.2-boundary-ZkfRpL_zMsK6p-imAp6YvNuxi"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data;[...]
