{
  "log": {
    "_recordingName": "checkURLsExist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5fb37daf9054ff9c8904987e8a79289",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"checkURLsExist\",\"link\":\"https://raindrop.com\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "[\"IaQHACBm6qrqd65U8Fj9PVcInlj5d3hsHdC62y54MP3/TAJqQdA80rBA46KiSEojSm/4e6G16ZclR7zJ+glY/VoITqUFH9G4rgbjX3UInCTeuM76foiLvgVBnTYChr34uaf7u7DauaAgyK4QPygYIHS9SqDuBwJuEtZBPPiIkZcSXBoJIIycBefpbJ4t0zPhprtAlMxfAH98EVwUXlhwaZogBAMF3NZr6bAFeZpPo3QepfljOuU84yyPp/PZOwiNCfo0WEMudrbO9q1xHRjiD4u+aaRQ13cigoaRYqOM0CcdZ8KPs+Asz9I8Gy/mE75e7++lBB9HRPwKoTOtgNG6vWuWyyydgWA2Rs1CnkhrXAMGzoTQe0XP/PxswClZ59qCo+x8NgAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "111"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1ea-ansA1KLOBHvlxdMxhOPBN6plT0Q\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      },
      {
        "_id": "092dbcd3e1ea4e8a8a1e4a68e68d3a8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"urls\":[\"https://raindrop.com\"]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/import/url/exists"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 116,
            "text": "[\"IcQBACCGbUv98psAqYpJYjQ04nwElqYwT4UPm6wF0XO9LcHY3IhiqaRQUgfepAT1fG5E8Ydl3GZEGJ7nuCPOr3Lcmms/WL2vIMjHBpHC/pSAGgM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "106"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"72-VkoVqAZ4gEdb6mBA+kSsqgA+6RA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
