{
  "log": {
    "_recordingName": "checkURLsExist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d6b387dc9a6227ca762446636c6ca855",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"checkURLsExist\",\"link\":\"https://raindrop.com\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IdAGACB+qnun/emPF6LbW54QrNhpHXJkX4HOHW0neGD6mrTlUdA80sMCbWmURVJmuRN/LzV0PKbqF2+yfgIW/24IVswC/sVs1wmMN5EtcJJ4ZVft3Rb3bgFBrMwGDHvxe5dnp2HvywYBwXz1xm8CBgirExMo3xs1HhLeg/HgX+y8GcCllQDCzmpwntZN1qX/hJvu0qKlXgP4/pHgovBBgwc1B0MwUMCwXkuHI8jTvIzSOsqbiyzjKueqjfM6vwNhVkEuN62WK+X2abcou4Ih/rJ382x6sW4VkQEmJUQZwSXzf8Kz1eA2beqsK7Jm3ej8mRlEu4TgvDCd5+cPcDo3OdLgKPv/NwAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719489237"
            },
            {
              "name": "etag",
              "value": "W/\"1b5-JxYDSq2pop1Fu+HHxAFQ1K/sGPM\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 378,
      },
      {
        "_id": "b900af14b43b3ba5620d7d34ada2d532",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"urls\":[\"https://raindrop.com\"]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/import/url/exists"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 120,
            "text": "[\"IbgBACAQ1bbUN2N6qSLi6QfYgAP3nFJLcObbujyVFJusA/LeX6cxtQ+SRFYYWG4URJlGPPUgiaKYWoQ51FinfUEY3/d8xDTvatrb+ziN5tj4Mw2F3wAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719489237"
            },
            {
              "name": "etag",
              "value": "W/\"6f-xfbfPPx3Ac8b7PEwnlnDGywTz1M\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 329,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
