{
  "log": {
    "_recordingName": "checkURLsExist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "92ca9e94eab506a942751596e386ddb4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"checkURLsExist\",\"link\":\"https://raindrop.com\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IdAGACB+qnun/emPF6LbW54QrNhpHXJkX4HOHW0neGD6mrTlUdA80sMCbWmURVJmuRN/LzV0PKbqF2+yfgIW/24IVswC/sVs1wmMN5EtcJJ4ZVft3Rb3bgFBrMwGDHvxe5dnp2HvywYBwXz1xm8CBgirExMo3xs1HhLeg/HgX+y8GcCllQDCzmpwntZN1qX/hJvu0qKlXgP4/pHgovBBgwc1B0MwUMCwXkuHI8jTvIyyLMqziyznMueqiOuquwNhVkEuN62WK+X2abcou4Ih/rJ382x6sW4VkQEmJUQZwSXzf8Kz1eAureoqK9J03ej8mRlEu4TgvDCd5+cPcDo3OdLgKPv/NwAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1b5-du9HPQxy+nj7DKIYdq5d4lBjEu8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 244,
      },
      {
        "_id": "4e41360257c569b81e2829599a2205e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"urls\":[\"https://raindrop.com\"]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/import/url/exists"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 116,
            "text": "[\"IbwBACAQ6ZzypzuiV3YA6Jo1NOJ8dJKmME8FzSZrQYZ6e3vF3L1ImthBGDiebeeKer4XSTXbfKwI0/ddr1jWU89H95yX2Z47inLuEIP8uQIaAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "93"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"70-0zEPFFDB2nfjlYEr3MZ85Zk6nZw\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 206,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
