{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "48637caeb2ce3e7367896d1c02022c79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "[\"IVAHACC+qfOn/V1HhUhb7w8bQkCB1iVbBXp64FYWSFuAtcUF/sMJLvT5/x3p4Nk2CVwcFpG/tetqrqDJWgZWuxfCpLICX6GTGgFjEH0YJ9OdDXUgdIj6+1udNmswQNg7seArZlZ6sNQ5EGZTB47DvIiq8E7Y1lbWCl7vjSF8eP65Bfe1cUI4THIEw0xOQWAnquCQgO0ewV8/BLexdqRIKp10lQNSum3so/QpE8HUTudtnfdxGKdeFHlx9BzFHIecZH4YhZ8IMCCd4wemdvqy7WqVgCd/UwdOqzIvijgjOLMfJkke8Hrvtcp/f4ee8JmAGfiKfmPbWMtBDDgl2M1GxxU7Ww9D3RjZnNwJl0k8q93L/W4AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "57"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-qfGujJsTuqxB019FugwVNKOXRUg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      },
      {
        "_id": "5b01733739a4b5462723c919b1143187",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
