{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f6307eb612678da76c7a3508174a4bc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"IRgHACC+qfOn/V1HhVzW1vvDhhBQCGwVaN2B228H+XbAfzv/4AURJNS8Wkh5mG2TwMVhEflbu67iCpqs38Bq90KoVDrwFVppK2AUog9l1WZnQx0IGaL+/KjV0IMBwt6JBV8xs5KD5YUDYVZlYBOu1tE2vBO+OH+cgvO4dUI4VHIEo62cgsBHVMEhAc09gr9+CG6wdiRFKplktQI2ug32UfIkidDGTndpZfsmNAsvXHlm+RwZDiNeGn+5NZ8I0CCZ4wVt7PRlzGKVgCt/VQZeLBdmO1+tCK7dF7MjD2q99lLlv79DT/gwQA98RT7YNsZykBa8INhh0HHFzMZFESet7EruhOsjntXu5X43AAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "110"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"1c7-6U+9ud8n4jmPNkpP1QcFTR93kEQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      },
      {
        "_id": "1a3b749634d442aa2e0d3bd816bd2de4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
