{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f6307eb612678da76c7a3508174a4bc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"IRgHACC+qfOn/V1HhUhb7w8bQkABru0CrTtw++0g3w74b+cfvCCChJpXCykPs20SuDgsIn9r11VcQZP1G9iovRA6IxP4CtOZUcBoxDy03VidDdUgVIj686vplhkMEPZaFPiKjZIaLC80CJuuAvtunHiZeyd8cf64BNf5qIVw6OQIxthpAwIfUQW7BDT3CP76IehF2ZEUqVRS1QrY6LaoR6mTJMKYa7MtK9v3XT+03Njyw2cv5MhjN7RTz/tEgAapHC8Yc21e1io3EnDlr6vAYRS6QRy4BD3um9mRBbVeW6Xy39+hJ3wYoAe+ol5UG2M5yAgOCWpZzLhipfKmyYtRdiV3wvURz0bt5X43AAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "91"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "W/\"1c7-y0tiNCVfW5lAIQEwxEEHyrfAww8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 428,
      },
      {
        "_id": "64b1ba1407e12d22038a2a621cceb893",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
