{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "48637caeb2ce3e7367896d1c02022c79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "[\"IVAHACC+qfOn/V1HhUhb7w8bQkCB1iVbBVp3fmD47SDfDvhv8QOvLZKEmlcLKfDrNsFH/EVMrbe1mitosqaB1e6FMKmswFfopEbAGEQfxsl0Z8McCB2i/v5Wp80aDBD2Tiz4ipmVHix5DoTZ1IHjMC+iKrwTtrWVtYLXe2MIH55/bsF9bZwQDpMcwTCTUxDYiRo4JGC7R/DXD8FtrJ8okmonXeWIlO4b+yj9khXB1E7nbZ33cRinXhR5cfQcxZyWnFV+FIWfSDAmXSBEH5ja6cu2q1Xs5G/qwGlV5mWeZwRn9sMk2QNe771W5e/v0BM9EzADX9FvbBtrOYgBpwS72ei4YmfrYagbIzund8JlkpLV7uV+NwAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "64"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-JbGh0sAYiNRraGZrtx9D8No4kWM\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1198,
      },
      {
        "_id": "14e5da8642c3b5d94099537cb0940225",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"l[...]
