{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a9cff93a41d2a00e9144fe362c0cb6fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "[\"IVAHACC+qfOn/V1HhUhb7w8bQkCB1iVbBXp64FYWSFuAtcUF/sMJLvT5/x3p4Nk2CVwcFpG/tetqrqDJWgZWuxfCpLICX6GTGgFjEH0YJ9OdDXUgdIj6+1udNmswQNg7seArZlZ6sNQ5EGZTB47DvIiq8E7Y1lbWCl7vjSF8eP65Bfe1cUI4THIEw0xOQWAnquCQgO0ewV8/BLexdqRIKp10lQNSum3so/QpE8HUTudtnfdxGKdeWHpx8RxFHGWcxn6YZZ8IMCCd4wemdvqy7WqVgCd/UwdOizjKk7IkOLMfJkke8Hrvtcp/f4ee8JmAGfiKfmPbWMtBDDgl2M1GxxU7Ww9D3RjZnNwJl0k8q93L/W4AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "67"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-ohhjDYxKCQzpuw0FehRUooxhtL0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      },
      {
        "_id": "1ca777736729fd9bcb64ab542eab4f61",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
