{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f47b8def6d59923ead11cdbf3fe1d02c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 380,
            "text": "[\"IVAHACC+qfOn/V1HhUhb7w8bQkCB1iVbBVp34AeF3w7y7YD/Fj/w2iJJqHm1kAK/bhN8xF/E1Hpbq7mCJmsaWO1eCJPKCnyFTmoEjEH0YZxMdzbMgdAh6u9vddqswQBh78SCr5hZ6cGS50CYTR04DvMiqsI7YVtbWSt4vTeG8OH55xbc18YJ4TDJEQwzOQWBnaiBQwK2ewR//RDcxvqJIql20lWOSOm+sY/SL1kRTO103tZ5H4dx6kWRF0fPUcxpzFniJ0n1iQRD0gVCGn5gaqcv265WsZO/qQOnVZmXSZYSnNkPk2QPeL33WpW/v0NP9EzADHxFv7FtrOUgBpwS7Gaj44qdrYehbozsnN4Jl0lKVruX+90AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "99"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-RI/tDMtH8pDPNuEHQ178qa81HHA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 280,
      },
      {
        "_id": "e0cfe024dad4fa649dc9e5e6b6f20ba6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
