{
  "log": {
    "_recordingName": "getChildCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ab5000fef39a5010c0c604b72e60341e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getChildCollections_3\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "[\"ISgHACC+qfOn/V1HhUhb7w8bQkABru0CrTs/MPx2kG8HfFsQPfBDJAk1rxZSHqbbBB/xFzG13tYKV9Bk/QY2ai+EzsgEvsJ0ZhQwGjEPbTdWZ6PUfwEIFab+/Gq6ZQYDhL0WBb5io6QGywsNwqarwL4bJ17m3gmfnD8uwXU+aiEcOjmCMXbagMBI1MAuAc/dg79+CHpRfqJFqpVU1SI6elrUo9SLVIQx12ZbVrbvu35oubHlh89ewGHCXmqnUfCJBG1SBUJ4wZhr87JWuRFb+esqcBiFrp9kPkGP+2Z6bIGtB6tUsOTv79AVPQ7QA19RL6qRsRxkBIcEtSxmYL5SedPkxSj7pXfCFZKcjdrL/W4AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "106"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "W/\"1cb-YY3OndVAjXPZjLKTRODfZ7aPpyc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 430,
      },
      {
        "_id": "d23147ea2691187b691cc15480777afb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"li[...]
