{
  "log": {
    "_recordingName": "parseURL",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c3576dda74498e68623b679b76149e31",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "url",
              "value": "https://example.com"
            }
          ],
          "url": "https://api.raindrop.io/rest/v1/import/url/parse?url=https%3A%2F%2Fexample.com"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 148,
            "text": "[\"IQACACDwfJ6S9h5/oCQtydjDKScCqUUBJpqmbcfDDthZhrEgebnJ+kZty54L9Zb3qJet3rocRbSDWHOxJ0J+pfkybSgQetcdheG+D2s1bg4C1sBGub6w3VOOoquHVsQWO5S4XFGu//+/AQM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757398"
            },
            {
              "name": "etag",
              "value": "W/\"81-IRMOBnKvlhafVHMeZiYGo+AlKCk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1417,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
