{
  "log": {
    "_recordingName": "parseURL",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c3576dda74498e68623b679b76149e31",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "url",
              "value": "https://example.com"
            }
          ],
          "url": "https://api.raindrop.io/rest/v1/import/url/parse?url=https%3A%2F%2Fexample.com"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 151,
            "text": "[\"IQACACDwfJ6S9h5/oCQtydjDA27+lUizljcJdsDObiyIXm6ynlDbsudCveU96mW7pxxFVw8twlZvXY4i6AGs8diJkF9pvkwbCoQWdkVhLPDNWo2bgyA5UFCuL/T5FhNCXK4o1///3wA=\",\"Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"81-9/LojBv+9evvleVE1yjx1alFvCA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 428,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
