{
  "log": {
    "_recordingName": "removeAllEmptyCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ca781e78684336a3a2dd16d283848cab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/clean"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"count\":16}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "56"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732195242"
            },
            {
              "name": "etag",
              "value": "\"1a-SffydqD6g7NcvZIgZm+mRvuiXC0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 357,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
