{
  "log": {
    "_recordingName": "removeAllEmptyCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "943199a84b168b5a2e401fce68abf298",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/clean"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 25,
            "text": "{\"result\":true,\"count\":8}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "59"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719321003"
            },
            {
              "name": "etag",
              "value": "\"19-lalCtH6GL2wG9heMJWWX3DYJyL8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 533,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
