{
  "log": {
    "_recordingName": "removeAllEmptyCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a0ba0761a55d6bf242926a8c3474ec67",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/clean"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 12,
            "text": "Unauthorized"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Users\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 166,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
