{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4272a4eafd5eba02941d4a7fd69a4c7b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "[\"IbQCACBWzqX86ksDvLLzQr4CItWJY5wITjSv4yq3+TCRW3DAJ1AMyGQV8Pf57wVBoxucDlied6ARdIISaH2TA8rOEqjVb6bNBff9bw0aL86kbKsRbE/rx3G/65/P6339uX5H698ehDMuKGuVs2PrGBxj7az1Ewhenyd4WN+++9YMAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "56"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ae-kK4ufc0vC02wtkvsoqKWBQDV7Q0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
