{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb6c727ca11471cfaa52d9c9848ad02c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 179,
            "text": "[\"IbACACBWzqX86ksDvLLzQr4CItWJY5wILjTwoNfIt/mtWgXVBjBZBfx9/nsBaHSD0wHL8w40AicoQd/kj8oOtebNtLngvv+tweLFmZRtNYLtaf047nf983m9rz/X72j924NwxkVlsjJubCKdpcudd3ECwevzBA/r23ffmgE=\",\"Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "37"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ad-YCizPp/B30k+RbUDHMTFOdxyNao\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
