{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb6c727ca11471cfaa52d9c9848ad02c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "[\"IbQCACCWran86L0uPI9sKmQVEKnPOcaJ4ETzOq5ymw8TuQUHfAJFj0xWAX+f/14QNLrBaY/leQeaoBOUQI8sB5LPKtB1frM8F9z3vzVovITVjXcm2J7Wj+N+N3w+r/f15/odrX97EGFRJvcUPvZgVTOqQVc2Ewhenyd4WN+++5wNAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "23"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ae-828DLHyrcuBF678hdyvJ5WQs24U\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
