{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a98d5b63d11a8e63073ff5c9ba8b01bf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 172,
            "text": "[\"IbACACCWran86L0uPI9sKmQVEKnPgUNOkAJsgX5LIfNatQoqejBZA/x9/nsBaHSD0x7L8w40gRNUoGX5a/Kx63KfC+773xosXsLqxjsTbE/rx3G/Gz6f1/v6c/2O1r89iLAok9UpqrEH3RgxqLp2AsHr8wQP69t3n7MBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719317525"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ad-9cvF368ubRykcb+wOJ4BAl8M80Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 622,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
