{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb6c727ca11471cfaa52d9c9848ad02c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 176,
            "text": "[\"IbACACBWzqX86ksDvLLzQr4CItWJY5zrALbQwIOucpvfqlVQYwCT1cDf578XgEY3OB2wPO9AI3CCCixNfio7CKw1b6bNBff9bw0WL86kbKsRbE/rx3G/65/P6339uX5H698ehDMuKFOUy2NraSND7UqyEwhenyd4WN+++9YMAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "23"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ad-pLbb+35WWT0sB+1p2otIO2ieMkc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 309,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
