{
  "log": {
    "_recordingName": "getSystemCollectionStats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb94ebdd272bff5a19f07efdf7a36c05",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/stats"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 176,
            "text": "[\"IbACACCWran86L0uPI9sKmQVEKnPOca5DmALDTzoKrf5rVoFNXowWQ38ff57AWh0g9Mey/MONIETVGCX5WfyQcmuy5vlueC+/63B4iWsbrwzwfa0fhz3u+Hzeb2vP9fvaP3bgwiLMrmn8LEHw1jGoG19AsHr8wQP69t3n7MBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "21"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"ad-FVNG1gknJTsatBlHMNh+oeCjpJE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
