{
  "log": {
    "_recordingName": "updateCurrentUser",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8289df800cfc572b2f5d37a6d3868433",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"groups\":[{\"title\":\"raindrop-client\"}]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 12,
            "text": "Unauthorized"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Users\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
