{
  "log": {
    "_recordingName": "-991325255_3",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 384,
            "text": "[\"IYAHACDwlLZ91b+hXJhc8O1+0aqcLBosCWKWt/6hVrMLNiF+pGmK2VSRTQpSE1Qkqeqg5pYIFi1OBzCr71lcwWRN0Bz3JgCNHqFfV/7mDdrrjccj77pCnudgKKLkmR0Vg9Do66vtmFEQ9skieqUVbYLaj4TQmjeod4NhMXZ34cPzunY+OMztiBLmKSPAiTrUCdLuMfr1I6RNnAchKTfW7Bdx+Zv4aBM0eOnqlrAuV4aymp/nYTwu3ADBVuU8oHAXQpnyQzY7ine+13aDduGeC6/eqxt2euP+J73NmoU0eCCUKb9smzJbsynsp/Ws2rXhxYA+emWyibmA3nUF7Qlxs8nopAzJhCaW02lZBasl34V7JYHmuLf7z90AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1718022595"
            },
            {
              "name": "etag",
              "value": "W/\"1e1-ewsxd25R9hablPVwuROZC/eN4Vs\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 385,
      },
      {
        "_id": "ab6e8dad152373320055e1570a40c48e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[44998203]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[44998203]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1718022595"
            },
            {
              "name": "etag",
              "value": "\"2d-FlgYpalcOi5SUor2C0luzHDRbjI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 535,
      },
      {
        "_id": "f248b81a430d4bc8d6f88d18f0a61541",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"createCollection\",\"sort\":0,\"public\":true,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IfgGACC+teYr/6YyRxRXYeETHKR4uJsCrTs/qB4O3w7Sdgxra2HzsLZIIgraSsowz+mWHp5enPPgrCIWd9hkXQarOQphp9KB79CdtgKGBnkmJ8OC0Mjp81gzDBCOVgz4jpmRNTh+WBBmuwYc+mkWFP6T8L95qXsNTjs5g9HurILgRdSBfYKSewr++iHYwYyTI[...]
