{
  "log": {
    "_recordingName": "searchCovers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f260c598f1094bbc30e726d18bf7f6f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/covers/strawberry"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 12,
            "text": "Unauthorized"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Users\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
