{
  "log": {
    "_recordingName": "searchCovers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f3187111be456b8169d2e452deae4c51",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/covers/strawberry"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 244,
            "text": "[\"ISAGACBH58iPP2oJNuDo0MkB+AUiCbx5JIEmiUd+lKgtCXRjoZw3YRqS3vRCTNYA9rbsOYJAoyTY7gtbvXU52OCk47ACgtqE7b4wDSXYUG3btNqU1kiyZB2ph5ZOcdrS4sr7samxxitVjBmWhoWmPx9Y/REGbaekoUn5YlUP5UrXbYnPJF+WG3Etlr3eVhwPGT7yMr+iu+OKt3q4qTKUJiykdjETL6NvKDeZ4iO5//u/AQM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "34"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"189-7+GgWB07cn34w4dJuUZ4l4VPSfs\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 249,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
