{
  "log": {
    "_recordingName": "searchCovers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a2b180b76e771dfacd75d53d32f28e8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/covers/strawberry"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 236,
            "text": "[\"IYQFACCLcyofXcCRcBP6gOmYdXIAfoGTBN48kkCjhCNPMJGoLU9ZE2Uz6+7hgJmsDqKxn5DAoNEmRLcDxmwsESKIf009AIGME9HtgLZOIIJ0HNsh4jz7NTV1Wf3HnrlyY3+cefv5FdytWDV5RrEeuBHCDy1V1ntBMOciYmhc6L7V+uv6KRsH+qn/dMYED+PePtAxqzdufGNV6FCy0YC2zBdcBsJIJXtcj8sAAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719321598"
            },
            {
              "name": "etag",
              "value": "W/\"162-rnJ5fWWCC5ken57hw2AZPgVv0ew\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 455,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
