{
  "log": {
    "_recordingName": "searchCovers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f260c598f1094bbc30e726d18bf7f6f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections/covers/strawberry"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 236,
            "text": "[\"IYQFACDHz/vULz9xoS3kDw6QTg7AL3CSwJtHEmiUcOQJJhK15Slromxm3T0cMJPVQTD2U4Rg0GgTgtsBYzaWEQQQ/pp6AAQZJ4LbAW2dQADpOLZDQGn2a2ocZ/U/6klcbuQfzbT9/Ao6LlHV5BnGeqCKWS0lFtq8IJhzITEUr3xmvX72UzYO+FP/8Rwl0WHc2wc8ZvVGlVVaeIeSjTrcMl9Q7pjiSva4HpcBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "52"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"162-RJWivIMVkFVuN/sf+oBQ8h4Lu4Q\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 173,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
