{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd4b55d538ac66d924f0a6a43da2d897",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "[\"ITQHACC+qfOn/V1HhUjbH1aEgIoK2S7QugM/KPxwwG8HfFsLL1BbJInUPDhl2DxL55YIUCiMqWD2nuoKmqzPwM7shbBx0oOvcBunAsbY8vNRVVq3GQcQOjh9nnyHAcLeigFfsTCyBMs/C8Ji04HjMC+iKrwTptrI4MDDXpUw7Xy4BS9rtUI4bOQIhm6sA4GaqIFDArC7B3/9EOxo4sSPVDvpjo0w6Wk0j7LcsiRobd2DnTDiME69KPLi6DmKOY05y/w4rT6xQJd0iZCFF2ht3cvU1U408rfpwGlV5mWShwSr+1UbG68V+fs71EP/A4zAVyxHU8JaDqLglGDG0bXKd6ZerepG5cr0TnhFkrMze7nfDQM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "82"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-nmTLE7Q1D7HOWr+FqkAWVMugxeE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 282,
      },
      {
        "_id": "d7dc8fff17c8af51b3ee2612fb83e239",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868360"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "80"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 284,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
