{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "249edd3b3e9e190fd46b984de22ad7e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "[\"IdAHACCWM63qRy73XoDzdl+0MfDHnoXEBZKdLXf+oPpbBwG2PWAQ/xZobREkFEgQtSSCJC899XK4PCJB/3WVXCCT9Ru4pCoEX6QHX1B8CQLG2fLtMQRpix8HEBydvp2ihwFCzZLAF8ySdGB7kUGYeQc2arXWW3Uj3Dc/3II7G7IQ9l4OYASfCwhiRD1YEajcNfjzm5DHlIciUnHiBjXE6IdjepAOfMFvr12EwfYCRu9PPmy3Wq1AkN76AAZuhGBzuV9nhmGUWTZq3SjzpJZsNBtzN9fqA33KxBWSviDYXJ4nZ4s4j7m0XOu1Ws4XhMkmGQp4qCEQcqg7tLOmNff7uwcB3wjUwRd0Y1oYkl5j8IKQxrHgq12yu539DwKa3AiPTUIuqcrtZgAD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "49"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1f5-5OjPsA8YPkqhD/sduNHk7BAhBYg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 345,
      },
      {
        "_id": "e3f80b75c5256668d4a48dc0450bc9ec",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/57170534"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "47"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
