{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "09a49863979fd5e5237a666688dfc929",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITQHACC+qfOn/V1HhUjbH1aEgIoK2S7QugO3Hw747YD/9oUXKIggkZoHpwybZ+ncEgEKhTEVzN5TXUGT9RnYmb0QNk568BVu41TAGFt+PqpK6zbjAEIHp0+T7zBA2Fsx4CsWRpZg+WdBWGw6cBzmRVSFd8JUGxkceNirEqadT7fgZa1WCIeNHMHQjXUgUBNVcEgAdo/grx+CHU0c+ZFKJ92xASbdRvMoyy1LgtbWPdgJIw7j1AtLLy6eo4ijjNPUL/P0Ewt0SJd4gdbWvUxd7UQzf5sOnBZxlKdhSLC6X7Wx8Vrhv79DPfg/wAh8xXI0JazlIApOCWYcXatiZ+rVqm5UrkzuhFcknp3Zy/1uAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "42"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-KyRaC4DSM5ko+9Q7YcI6ErZZFKg\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "3b3c42441c86ef7e28b2f119722cca30",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/47216400"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "39"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 481,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
