{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "[\"IZAHACBW6qzqd1Keia77okWQ5LMDckBSgCx35g/iddAW4GPSliVJEEhBHmACeZCWhRBgbs7L28smyXojyq6wyRqBg9sLwdDoD+CvK/4WPbisyjRvuooQFsEKGPttr4L0Z8WA0Avsq22uMEDYe3HgK2ZOBnC88CDMFj04T+sm69I74cfz2qBPDgs5gmEXPoDgTtSBU4K2+wj8BfwQ/MZVYJKUe+k7SK10f+MeZQDvX4DdIqzVJGBMi/PCdl2W1iDIpBYWDNwJVvnwMM8JI0/zMkrrKC+fs4LLhvM8brviEzgV0i+0VvnwwlO6IRVx0dSNt/uR0iIygVcD+uArho0bBg5ed8AlwW02ATwo64XQOzWOSlshhO+EuyUBB7eX+8/dAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "W/\"1e5-0jE4l6cspQn+judESWP8s8hQYyI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      },
      {
        "_id": "810e87da635460b6f1de28baa54aa688",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45402795]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45402795]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "94"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"2d-eqnv7e4vfv0ehUNZczeNN2CtkIo\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 495,
      },
      {
        "_id": "38db2c54a715980675562d575d00ac0c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection_7\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "[\"IQM=\",\"GA4AQHxT50/7u44KkbY/rAgBBZ2ktV2gdecHhh/w8O2A/xY/8CSChLKktSPlpbcq5fGTYP/bTXOFTNZvYKv3QhiszOAr7GCVgHG2/GpVSmo7rMtfBkJDqL+/tcO6gAHC3ogGX7HR0oLthQFhMzTg0E+zoPDvhAvn0zW4LZURwmGQIxhqMBYEOaIG[...]
