{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "90090433b1576c7ab6f39e172b647306",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITQHACC+qfOn/V1HhUjbH1aEgIoK2S7QugO3Hw747YD/9oUXKIggkZoHpwybZ+ncEgEKhTEVzN5TXUGT9RnYmb0QNk568BVu41TAGFt+PqpK6zbjAEIHp0+T7zBA2Fsx4CsWRpZg+WdBWGw6cBzmRVSFd8JUGxkceNirEqadT7fgZa1WCIeNHMHQjXUgUBNVcEgAdo/grx+CHU0c+ZFKJ92xASbdRvMoyy1LgtbWPdgJIw7j1IsiL46eo5jjkJPCL8rsEwt0SJd4gdbWvUxd7UQzf5sOnFZlXhRJSrC6X7Wx8Vrhv79DPfg/wAh8xXI0JazlIApOCWYcXatiZ+rVqm5UrkzuhFcknp3Zy/1uAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "37"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-y/bcX2qAW/NTpMxEIW84jIsjxnI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      },
      {
        "_id": "5758f438a4dc3d525b8da21045a405eb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49867734"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "35"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 411,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
