{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "90090433b1576c7ab6f39e172b647306",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "[\"ITQHACC+qfOn/V1HhUjbH1aEgIoK2S7QuvMDww8H/HbAt7XwArVFkkjNg1OGzbN0bokAhcKYCmbvqa6gyfoM7MxeCBsnPfgKt3EqYIwtPx9VpXWbcQChg9PnyXcYIOytGPAVCyNLsPyzICw2HTgO8yKqwjthqo0MDjzsVQnTzodb8LJWK4TDRo5g6MY6EKiJGjgkALt78NcPwY4mTvxItZPu2AiTnkbzKMstS4LW1j3YCSMO49SLIi+OnqOY04rD2I/C8hML9EmXCNUFWlv3MnW1E438bTpwWpV5mRcVwep+1cbGa0X+/g710P8AI/AVy9GUsJaDKDglmHF0rfKdqVerulG5Mr0TXpHk7Mxe7ncDAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "42"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1ce-ZB23b2Sn2U/MPImLkuIKDeKKxsc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 411,
      },
      {
        "_id": "5e470fad71af5a63431fe48bffc83c38",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868679"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "40"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
