{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "[\"IYgHACBW6qzqd1Keia77okWQ5LMDckBSgCx35g/iddAW4GPSliWtLQikIA8wsiAtCyHAdG6JCoWpyGf13uIKmawJOLi9EASN/gD+uuJv0YPLqkyLuigJYRGsgLHf9ipIf1YMCD3BvtrGCgOEvRcHvmLmZADbCw/CbNGD87Rusi69E348r031yWEhRzDswgcQ1Ik6cErgdo/BXz8Ev3F5SCTlXvr5kind37hHGcC7F6VuEdZqEjCmxXlhuy5LaxBkUgsLBu4Eq3x46OaEkad5GaV1lJfPWclVxmkbt2X1CW+QfqC1yocXlPILUhcXTdt5ux8BrSJjeDNgDL5i2LhmoN91B1wS3GYTwIOyXgi9U+OotBUw+U64WRJwcHu5/9wNAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "80"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "W/\"1e3-S1A9sCX6HlxYXz1OOoU6YkSvZnQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 361,
      },
      {
        "_id": "e746e535d1c8fd642a204757ad1410ad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45403634]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45403634]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "79"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"2d-2w/jzwx8XfQev3ScOuWHE9DS7a0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 446,
      },
      {
        "_id": "f51d7d37a6e5bb157212a40e24699c3a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"IfwGACC+qfOn/V1HhUjbH1YEJ1ExaKtA684PDD8c8NsB39bCC9QWSSI1D04Z5qVzSwQoFObU072nukIm6zew2r0QNio9+ArdaCdgjC0/H7tOGt2MAwgtnT5PucMAYe/Egq9YWFmC7YUDYbFpwXGYF1EV3gnzzYcb8NJ0TgiHjRzB6DZOQRAjauCQQOXuwV8/B[...]
