{
  "log": {
    "_recordingName": "removeCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f51d7d37a6e5bb157212a40e24699c3a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IfwGACC+qfOn/V1HhUjbH1YEJ1ExaKtA6w7cfjjgtwP+2xdeoCCCRGoenDLMS+eWKBQKY+jp3lNdIZP1G1jtXggblR58hW60EzDWlp+PXSeNbsYBhJZOn6bYYYCwd2LBVyysLMH2woGw2LTgOMyLqArvhP3m0w14aTonhMNGjmB0G6cgiBFVcEigco/grx+CG20eFZFKK+1FgRjdRvsoy0NKQmecPvgJIw7j1AtzL86eo5jDiLPML/P8Ew06pC28oDNOX6bWqDTM/G1acJqlcZUUCcF1+9XgGq8x/vs74MEfAUbgK5ajhbCWg3TglGDHUUcVW2tWK1N3gl/uhHcjntXu5X43AAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "103"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"1c0-dsIIIVN9soa3PPiINKH893DHbVU\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 439,
      },
      {
        "_id": "bb71779f1bb638049183990bafc8d20e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/45429373"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "102"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
