{
  "log": {
    "_recordingName": "getPublicUserByName",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "05990d631b5b1b14c2e60213211387bc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/user/2067190"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 12,
            "text": "Unauthorized"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Users\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 179,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
