{
  "log": {
    "_recordingName": "getHighlightsInCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "07311b7592b40ba480264b3822bd1e8f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getHighlightsInCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "[\"IUwHACC+qfOn/V1HOQTauvWvCAEFWrZVoHUHbj8cPv92PNbWwgskEVyoeW1RhnmA6dwSgURhTuFavbe5QibrL2C1eyGMKivwFTrqUsDoRWdjPyzHflD3sD4iBkLLq0/bmGGAsHdiwVdMrHRge+FAmIwtOAqyPCyDO+Gj89sNuKuWTgiHUY5gLEenIKgSTeCAwOnuwV8/BLexeZRGqq20FQNDet7YR+kWqQnLyum0zhNGFESJCTITpc9hzHHASeylYfqJCTqkHXjBsnL6sm0rFV/5G1twkiZxEMcJwS33PYJswA6cGdemcfn7O7SGrwRE4Cu6je1mLAdZghOC3WwUNd/aqu+reikbp3fCXZKS1e7lfjcAAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719322299"
            },
            {
              "name": "etag",
              "value": "W/\"1d4-BFgF5/o9xNIDIeTRRRzDCIIw2Eo\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1644,
      },
      {
        "_id": "4bacb610c11acaefef65a98dda7b7182",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/highlights/45430334"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719322299"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 367,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
