{
  "log": {
    "_recordingName": "collection.getCollectionTree-build-tree-from-groups-and-collections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9ebb7d4827eee1aba987b14497222d7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 420,
            "text": "[\"IQwIACBm6qrqd65UiNR9998iBJScZ5wDWwe07sQP5v8hCOzUwixpbQcNIiiiIIiySAMPg5pbIphsTvZg9T2LCzBZFVjdTghAoz+Bvy74MwM4b+qyydKMoEatgDGJ3ptpac20VP+wOjMehMFo32zmDAOEnRcHvmDhZATHOw/CwgzgNC6rpIlvhE3rZKXg1c5awj/ol3vw2FovhL2RAxjWeAUBWjSAE4Ll+wj89UPwa6fgmEBOKoMMgshAPV67RxnBojDzKcKqnQWM2ZyMbZokLkGQuTUWDNwItvV6J26HkcZpHiRJkCbPScpFzkUeFmn5iTw1MiyEpIkvsK3Xl83QqmzovN1NdbZBjzo+MKugH/yoQBt8wbh2shjwVYNzgluvtYr54NppajsrfZYb4epJwup2cvu5GQM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "etag",
              "value": "W/\"204-doSVswHgSr2xdItWuiuaixPwy8I\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      },
      {
        "_id": "afe1a606de5cf7d8571238c7e453b38f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[49869323]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[49869323]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
   [...]
