{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "11e219192bf31c123c6bc8115e46a960",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITwHACC+qfOn/V1HhUjbH1aEgEJ1yVaBnh64lUBbgLXFBd7hBBe6Xb4vpM9v100RBI9PZN9NY7qCJuszsNq9ECaVFfgKndQIGGfLLzbGSKvTZu1A6PD097c6bdZggLB3YsFXLKz0YPnnQFhMHTgO8yKqwjthW1tZK3i9N4Zw7ny5Bfe1cUI4THIEw0xOQeAmKuCQgOzuwV8/BLexdiRIyp10dQNOum7so/QpA8HUTh/aOs/jME69KPLi6DmKOQ45Sf2oiD8RoEM6xwtM7fRl29UqASt/UwdOqzIviqgiOLMf5th6rdLf36Eh/CFgBL6i39ge5nIQA04JdrPRWfnO1sNQN0aWxnfCOxLLavdyvxsD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "65"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1d0-pz4wB97u6wVeHrnqeSnjyUO9KXQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 407,
      },
      {
        "_id": "d85b1fb0456b7d5dd385b716f85f549f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[49867719]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[49867719]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "62"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "\"2d-4ZtDK7yqrF3r5ZRkX8l6q20GIHQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 417,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
