{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8306f1645433411365fb8b206a6f442",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IQQHACC+qfOn/V1HhUjbH1aEgIJO0tou0NMDtxJoC7C2uMA7nOBCt8v3hXT/9ValPH4S7H+7SVfIZP0GtnovhMHKDL7CDlYJGGfLL1alpLbDuhgQGj79/a0d1gUMEPZGNPiKjZYWbC8MCJuhAYd+mgWFfyccOF+uwW2pjBAOgxzBUIOxIKgRFbBP4HL34K8fgll1HCWRciPNpMCMrqt+lLZJIKjS2Id6svPQD2PHT50weQ5C9gNOAjfJ008U6JAm8QJVGvuybUorBSt/QwOOkzgsojQmGLXvkGud2unv77AQ/gkwAl/RrnqHuRxEgWOCXleLlW902XVlpQQAvhNejli2ei/3uwED\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "112"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"1c2-xl1SyikauvLQbnyX6y7MxtOzApc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 453,
      },
      {
        "_id": "63a9475b39a9d2985d1e9ec13e7ceadb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45429364]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45429364]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "111"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "\"2d-RjQbLge1d1R3FV8oIgpWg+88U+M\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 527,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
