{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "110"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 341,
      },
      {
        "_id": "012f811bd8347cc22b9a306a2e37e864",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":false,\"status\":413,\"errorMessage\":\"ids array is larger than max 100 or empty\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "109"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"58-u9UY1U+d3Lup7lU4d3OgJHQzmJA\""
            }
          ],
          "status": 413,
          "statusText": "Request Entity Too Large"
        },
        "time": 329,
      },
      {
        "_id": "f5d32e765bde69e67e196b7f9e9621c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections_2\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"IRQHACC+qfOn/V1HhUjbH1aEgIJO0tou0NPzgKEE2gKsLe7gwUkudLt8X0j3325WysNfMuy920lX0GT9BrZ6L4TBygy+wg5WCRhryy9XpaS2w7qYvxCEBlF/f2uHdQEDhL0RDb5io6UFywsDwmZowKGfZkHh3wkrzpdrcFsqI4TDIEcw1GAsCHxEFewT0Nwj+OuHYFbtJ1Kk0khTK2Kj26ofpT2kIajS2Ie6svPQD2PHT50wfg4ijjMOMjcvkk8k6JMmENILVGnsy7YprVjlb2jAcRL7YVYEBKP23eySUys4/Pd3aIn+BRiBr2hX3cVcDqLAMUGvq51WbHTZdWWl5KrkTng94tnqvdzvAw==\"]"
          },
   [...]
