{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d7fcd6d20971158dec541677d0020e40",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "[\"ITwHACC+qfOn/V1HhUjbH1aEgEJ1yVaB1p0fGH6Bbwf8t/MDry2ShLKktSM1z7KblfLwlwx773aqK2iyPgOr3QthUlmBr9BJjYCxtvxiY4y0Om3WDoQOT39/q9NmDQYIeycWfMXCSg+Wfw6ExdSB4zAvoiq8E7a1lbWC13tjCOvOp1twXxsnhMMkRzDM5BQEbqIKDgnI7hH89UNwG+sngqTSSVc34qTbxj5Kf2RBMLXTh7bO8ziMUy8svbh4jiKOMk4jP47LTyToky4QqgtM7fRl29UqlvmbOnBaxFGelAXBmf0wx9Zrlf/+Dg3RDwEj8BX9xvYwl4MYcEqwm43OKna2Hoa6MXJpcie8I/Gsdi/3uwED\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "71"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1d0-/QLBwLf8FqaxdDKChloPi9pa5dM\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406,
      },
      {
        "_id": "a8452c2b28bb7640647a68516d056d4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[47216387]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[47216387]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "69"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "\"2d-RZtAKl9GgJsUTanFGPOrzkSw8/U\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 423,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
