{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b6d95da0a6998adf320f838ac372a254",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "[\"IdgHACCmqjbth4z0Q1Y6tx/WWvQWHQigCyQ66ZY7cPjtT+C3B3yIfwu0IPGIktbCKPEkL71VKQ9/Kex/u0kukMn6DWx5EkIy6cAXWDIVMM6Wbwyq0lga+gJC5NPvHy0NPRggTEUy+IJZlhZsLwoIsxTB3q3W9dbdCAfOTzfgNmgRwj7JAQxNxUBQI2pgR+By9+DPb0IZch6SSDVKnJSZ0Q+H/CAt+ILfXtsIfegEjC6dkm63tVuBIF1ICgZuBA3F7psFxr3zy8qtK+ef3JJ9zfXmzs+XH+hTILHwAg3FnscYTILGXFqu67Vb+g1hDFl6A/eTKqHotIM7rxqX3989CvhIoA6+oB3yxhD1GoMXhDwMBrCPOex24V8FNb0RnpuEbHmS280AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "69"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1f7-rK7m8s5fAk6g91cKQxbuwTtFXHA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 658,
      },
      {
        "_id": "4b285697aafcaec2e6731f4b359b3201",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[57170528]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[57170528]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "67"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "\"2d-tAZ79DvZ3GWwAM8JqfTKvoWCdMo\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 361,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
