{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "11e219192bf31c123c6bc8115e46a960",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "[\"ITwHACC+qfOn/V1HhUjbH1aEgEJ1yVaB1p0fGH6Bbwf8t/MDry2ShLKktSM1z7KblfLwlwx773aqK2iyPgOr3QthUlmBr9BJjYCxtvxiY4y0Om3WDoQOT39/q9NmDQYIeycWfMXCSg+Wfw6ExdSB4zAvoiq8E7a1lbWC13tjCOvOp1twXxsnhMMkRzDM5BQEbqIKDgnI7hH89UNwG+sngqTSSVc34qTbxj5Kf2RBMLXTh7bO8ziMUy+KvDh6jmJOS84KPy/zTyToky4QigtM7fRl29UqlvmbOnBalXmZZwXBmf0wx9Zrlf/+Dg3RDwEj8BX9xvYwl4MYcEqwm43OKna2Hoa6MXJpcie8I/Gsdi/3uwED\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "78"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1d0-FYuqbT416bRbk3DF68w8UqBM5Ms\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 402,
      },
      {
        "_id": "ab155b852b4d4a89c82e4773f195fa4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[49868657]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[49868657]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "72"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "\"2d-vn9G7olRiIN7ASukUhhHDwjSQlk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 410,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
