{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3fe488e896d6a990c26e66822f624bd2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"ITwHACC+qfOn/V1HhUjbH1aEgEJ1yVaBnh64lUBbgLXFBd7hBBe6Xb4vpM9v100RBI9PZN9NY7qCJuszsNq9ECaVFfgKndQIGGfLLzbGSKvTZu1A6PD097c6bdZggLB3YsFXLKz0YPnnQFhMHTgO8yKqwjthW1tZK3i9N4Zw7ny5Bfe1cUI4THIEw0xOQeAmKuCQgOzuwV8/BLexdiRIyp10dQNOum7so/QpA8HUTh/aOs/jME69KPLi6DmKOY05i/0iKT8RoEM6xwtM7fRl29UqASt/UwdOqzIvkywhOLMf5th6rdLf36Eh/CFgBL6i39ge5nIQA04JdrPRWfnO1sNQN0aWxnfCOxLLavdyvxsD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "101"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1d0-4HaXlrekoExNL0x+6mDtSJtV5NE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      },
      {
        "_id": "42985e68b0e44e7053fe221e55e69dd7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[49868353]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[49868353]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "100"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "\"2d-Wi9aDv1j/9ZG2Zrb9we0qh8zYu8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 297,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
