{
  "log": {
    "_recordingName": "removeCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "95"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 346,
      },
      {
        "_id": "012f811bd8347cc22b9a306a2e37e864",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":false,\"status\":413,\"errorMessage\":\"ids array is larger than max 100 or empty\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "94"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"58-u9UY1U+d3Lup7lU4d3OgJHQzmJA\""
            }
          ],
          "status": 413,
          "statusText": "Request Entity Too Large"
        },
        "time": 367,
      },
      {
        "_id": "e8306f1645433411365fb8b206a6f442",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"removeCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IQQHACC+qfOn/V1HhUjbH1aEgIJO0tou0NMDtxJoC7C2uMA7nOBCt8v3hXT/9ValPH4S7H+7SVfIZP0GtnovhMHKDL7CDlYJGGfLL1alpLbDuhgQGj79/a0d1gUMEPZGNPiKjZYWbC8MCJuhAYd+mgWFfyccOF+uwW2pjBAOgxzBUIOxIKgRFbBP4HL34K8fgll1HCWRciPNpMCMrqt+lLZJIKjS2Id6svPQD2PHT50wfg5iTgL2IzePw08U6JAm8QJVGvuybUorBSt/QwOOk9iP0rAgGLXvkGud2unv77AQ/gkwAl/RrnqHuRxEgWOCXleLlW902XVlpQQAvhNejli2ei/3uwED\"]"
          },
          "[...]
