{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb529cf1cd647b1393084321fe3919a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 403,
            "text": "[\"IbAHACCmqjbth4y0XNK5Zvq1FsFi/uUmQ2JKW3fbBQ+m/59JQC0ImkcaFmhYYRQHXprb2BlmiMaPSi44k/UoWONOCF6lB1/Q+aEF4191TJzn0frBxTAaH0BQr52AsRu7YN09P74Je4kgyLGWOCoYIAxBBaGeRhJvEnZJIviCSZQtuNSVQJh4B66KxbJcFzdCLcsSJfuXwB9fhE8KHxx4a7skhCcKmNaN6bAFVVHNs2KZFdVjseD5iouVWZTVOwidTfo0OmsutrfGhd76AYwBXNah66RWH4YMAWGS2KwkBDBxI/x4By6rsqiWs2pe2vVCvJct+NIi2VcIg+0FjN6ffLdel8UCBLu3aufxRXrrOzBwI6QQVT3z87MHF2adOwfOytvNAA==\",\"Aw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751439547"
            },
            {
              "name": "etag",
              "value": "W/\"1ed-vuhgpyoYSYS+qzmm/8QcGpJbEkc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 411,
      },
      {
        "_id": "12a9faeed05e4c44c70fcd7bb5c4c584",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
