{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4a6bc0bea70caf90b5dfca8405562ef2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"IdwGACBW6rLqd748E137VVoEjXVOZJIGPuF1t13wYPrvN/l2j4LmkR4LtEUFFgde7sTnSBbZb1S/OJP1Kjj6kxBMlA38i9XsCxjvMbrAWeaV2bW3LjUWhGjiKmCc3GqVPuf3j/ZDPAjyNYp3EQwQdhsFYfx2JD4knIJ48C8OXiZwaCmAcDAaXOZtVwz5P2GUZYmWegvghyfCJ4UfGjypNQjhiQKmZWM6HEGZl3VSFElZXBYl1z03Q1q21T0IqwrxymnVXGluj7abMjsYA3gc7brKGI3dPWSEOrGkIFgw/ye8GA0e8qZt6q5runXrz2XyHBKC9TEzeHn5AOd1kzMNTor/fwMD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "63"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1b8-3xDNX2JHJqIodQ3RWm1gqVIre7E\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 379,
      },
      {
        "_id": "85765a053c8d76d8e4d019570eb57745",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
