{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "34b26e54abb31ac6b22497ed890add9c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"IdwGACBW6rLqd748E137VVoEjXVOZJIGPuF1t13wYPrvN/l2j4LmkR4LtEUFFgde7sTnSBbZb1S/OJP1Kjj6kxBMlA38i9XsCxjvMbrAWeaV2bW3LjUWhGjiKmCc3GqVPuf3j/ZDPAjyNYp3EQwQdhsFYfx2JD4knIJ48C8OXiZwaCmAcDAaXOZtVwz5P2GUZYmWegvghyfCJ4UfGjypNQjhiQKmZWM6HEGZl3VSFElZXBYl1yU3VVp37T0IqwrxymnVXGluj7abMjsYA3gc7brKGI3dPWSEOrGkIFgw/ye8GA0e8qZtinLou3Xrz2XyHBKC9TEzeHn5AOd1kzMNTor/fwMD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "97"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1b8-uQ3OBbJd447lRyhqwqJ5e+jPK2o\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      },
      {
        "_id": "f902a5f7aee312de1af1f7242393c7ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
