{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "34b26e54abb31ac6b22497ed890add9c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 12,
            "text": "Unauthorized"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Users\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 402,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
