{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb529cf1cd647b1393084321fe3919a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "[\"IbAHACCmqjbth4y0XNK5Zvq1FsFi/uUmQ2JKW3fbBQ+m/59JQC0ImkcaFmhYYRQHXprb2BlmiMaPSi44k/UoWONOCF6lB1/Q+aEF4191TJzn0frBxTAaH0BQr52AsRu7YN09P74Je4kgyLGWOCoYIAxBBaGeRhJvEnZJIviCSZQtuNSVQJh4B66KxbJcFzdCLcsSJfuXwB9fhE8KHxx4a7skhCcKmNaN6bAFVVHNs2KZFdVjMeeq5HJuyvXqHYTOJn0anTUX21vjQm/9AMYALuvQdVKrD0OGgDBJbFYSApi4EX68A5dVWVTldLVa2fVCvJct+NIi2VcIg+0FjN6ffLdel8UCBLu3aufxRXrrOzBwI6QQVT3z87MHF2adOwfOytvNAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "83"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1751433732"
            },
            {
              "name": "etag",
              "value": "W/\"1ed-uFKl4Jseg1n98EqfXXDhX6/K7jk\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 287,
      },
      {
        "_id": "3ae4c230fc10146a0fc662d0e94964f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
