{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5d472acef7f2893d6fe5f304b1fdf4c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"IdwGACBW6rLqd748E137VVoEjXVOZJIGPuF1t13wYPrvN/l2j4LmkR4LtEUFFgde7sTnSBbZb1S/OJP1Kjj6kxBMlA38i9XsCxjvMbrAWeaV2bW3LjUWhGjiKmCc3GqVPuf3j/ZDPAjyNYp3EQwQdhsFYfx2JD4knIJ48C8OXiZwaCmAcDAaXOZtVwz5P2GUZYmWegvghyfCJ4UfGjypNQjhiQKmZWM6HEGZl3WSt0mVXxYV1yUXbZqX+T0IqwrxymnVXGluj7abMjsYA3gc7brKGI3dPWSEOrGkIFgw/ye8GA3u86Hp87ZounXrz2XyHBKC9TEzeHn5AOd1kzMNTor/fwMD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719754996"
            },
            {
              "name": "etag",
              "value": "W/\"1b8-fhn2URcmWD9617irHXFVcSFLMi4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      },
      {
        "_id": "5c6dd786e5253c71a896c0aecd353be4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
