{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb529cf1cd647b1393084321fe3919a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IdwGACB+P1Wn/T+PJ1vgfqunrLXwxClBDR6ckr7utgseTP/9Jt/uUdA80mOBtqjA4sDLnfgcySL7jeoXZ7JeBWuehRBURvAvhjD1YLyrpsKrVXZh8jmmZYggaNBBwJjTEJ0/5/dP8UMyCPLVSE4KBghTVEGo34nEh4S5SAb/YpGlBYeWCgiL4MG23u3Nsf4nNLIs0XJvBfzwRPik8MODWzcUITxRwLRsTIcjsLXdVPWhsvtLY9hseWOWZru9B2FwRa+Sd82V5vb4OLowgTGAxyYOgzQa4uQhI9SJVYYQwfyf8BI8+LCx1tjDxnTrMZ9L6zkklJg1M3h5+QDXdZMzD67M/78BAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "73"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724757397"
            },
            {
              "name": "etag",
              "value": "W/\"1b8-kTkuq8dngil8I095W6z6SZbgQO0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      },
      {
        "_id": "f1a382be3898d63f8d11d55769f6e675",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
