{
  "log": {
    "_recordingName": "uploadRaindropCover",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4a6bc0bea70caf90b5dfca8405562ef2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"uploadRaindropCover\",\"link\":\"https://raindrop.io\"}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/raindrop"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IdwGACB+P1Wn/T+PJxtwv9VT1lp44pSghh6ckr7utgseTP/9Jt/uUdA80mOBtqjA4sDLnfgcySL7jeoXZ7JeBWuehRBVBvAv+jh2YLyrToVXq+zjGHKaljGBoFF7AWOe+uTDOb9/Sh+SQZCvWvKkYIAwJhWE+j2R+JAwF8ngXyyyNODQUgFhEQPYmd3eHs0/oZZliZZ/K+CHJ8InhR8B3Pi+COGJAqZlYzocgTNuU1lbOXtpHTvD6/Vy7zb3IPS+6NUUfHOluT0hDT6OYAzgsU59L7XGNHrICHVilSUkMP8nvMQAPprtbmOtdd16yufSeA4JJWXNDF5ePsCmbnIWwJX9/zcAAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "69"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1b8-ORsc4vSxja30KLAly7F/RK/H3y4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 356,
      },
      {
        "_id": "f592868b719908cf52eb8cfb6446e1ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=0000000000"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "multipart/form-data; boundary=0000000000",
            "p[...]
