{
  "log": {
    "_recordingName": "getFilters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "91c1c2f77dd26c9ad99cc5d3d884ce91",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getFilters\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IcwGACBm6azqd1LKROryND2CQabwnQK07vzA8AMevh3w384PPIgkoebVAossT7cJgoe/iE3/1qrOkMl6CaxmK4RBZQE+QwedCxid6MMwVzEWhIZIf36tw2oJBghbKwZ8xsRIC7YfFoTJ0IBDP82Cwr8SfjZ/XIPbcm6FsBtkD8Z8sAqCDFED+wQS9wz++iHYlcmTFlJtpIGIlOi+Mo/SHlIQ5qXVaY1sP/TD2PFTJ0yeg4jDlP3cjZLoEw3apCmE+IF5afVl3ZQqsfI3NOA4iSM/8hOCnW+7lbHTuvz97aajVwB64DPalQE/lp3MwTHBrFa6pNyYsuvKai6T65VwVySymq1crwM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719322028"
            },
            {
              "name": "etag",
              "value": "W/\"1b4-E0Zp0QjzWssMnmh2s4y9tRmmvUI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 532,
      },
      {
        "_id": "9fa86f2e5a1689479c860a5865775382",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/filters/45430305"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "[\"ISABACB+O3/a32xQWG7YDLMM4pIS4gz6fZjIgVtgqcf87R0cqCofNllPkOzLCpLqAYWoIG8xhMjl4jh75yxtDl9A1lmjjXa/AQM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719322028"
            },
            {
              "name": "x-api-cache",
              "value": "MISS"
            },
            {
              "name": "etag",
              "value": "W/\"49-zQ4S+Asq57PqTQJy/nCdhbsG6Zo\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 405,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
