{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5a6a38397fef6cde5513ab04781cd10d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"IRwHACC+qfOn/V1HhUjbH1aEgIoK2S7QugO3Hw747YD/9oUXKIggkZrXdsow8HRuiUBgFMYQMXtvdQVN1jTYmb0QNk568BVu41TAYHw6VZXWbcYBhA5LnybfYYCwt2LAVyyMLMHyz4Kw2HTgOMyLqArvhKk2MjjwsFclfHU+3YKXtVohHDZyBEM31oHAS1TBIQHVPYK/fgh2NHEkRyqddD0DRrqN5lGWS5YEra17sBtGHMapF0VeHD1HMcchJ7kfJ9EnCnRIl/iA1ta9TF3tRE/+Nh04rcq8KOKKYHW/mmHjtcJ/f4fN4MsAI/AVy9H0v5aDKDglmHF0c4qdqVerulE5LLkT7o94dmYv97sBAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "45"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732191689"
            },
            {
              "name": "etag",
              "value": "W/\"1c8-yjmxz0O4SnA6cj2UABGhTB63Sck\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 430,
      },
      {
        "_id": "6fb51a0b109dd476ed9bad3b6f19a861",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49867729"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charse[...]
