{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ecc4ac2dac36a126b22a1bd548cfe7b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IeQGACC+qfOn/V1HhUjbH1YEJ1ExaKtA6w7cfjjgtwP+2xdeoCCCRGpe2ynDPD31cjjEI2L413XVFTRZ02C1eyFsVHrwFbrRTsBgfDrtOml0Mw4gtFj6NPkOA4S9Ewu+YmFlCZYfDoTFpgXHYV5EVXgnfG4+3YCXpnNCOGzkCEa3cQoCE1EFhwQc9wj++iG40caRDqm00nYJqOg22kdZHlISOuP0wW4YcRinXph7cfYcxRxGnCV+lZefKNAhbeIDnXH6MrVGRU/+Ni04zdK4SvKK4Lr9amuN1wj//R0GxLcARuArlqPtfy0H6cApwY6j7im21qxWpu5keLkTbox4VruX+90AAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "107"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"1ba-QzCdVbMVh+R3Nr6ojwwuWCz/d6o\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473,
      },
      {
        "_id": "7f925d49742b1f9fb06b8248762ef023",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/45429369"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charse[...]
