{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "[\"IaAHACCWOqvqR1cuR8jbvb7oYjCw8BbZ9oVktgOn7W2Ao3iWdLsbaEHikXddQBHmAQalZ2oxLCKqH6t3qgswWQPYmZ0QgEa/AH9e8KsbcJImQZzFAcFpNwgYnbj7fz00h8UsCI3F/vzi9DyBAcLOigFfsDHSgtsLC8JGN+AoyPKwDG6EP89v1+BWDVYIey0HMAZtHQiAogYOCPbuHvz5TbCzGQclqTbSbJ7N0vPZPEgLLoByHSNMahQwRn3SQ1mGQQaCjEoPYOBGGJR1d3WsR0GUeEHmRclTmHAacpBsizD8QJ4OaSZeMCjrnpdGOVkw2WHXaSqeJ3vr1R0vB4zBF7SzqQcUrxGcEMw8O/l8Y1TXqWoQTfRGuF9SsDM7uX3fDAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "88"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "W/\"1e9-5pXWC7aPIQdXAElrZ84gyXQ6XsI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 384,
      },
      {
        "_id": "fc8896ba4455d65d7ef951c26f2d461a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45403630]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45403630]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "87"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240688"
            },
            {
              "name": "etag",
              "value": "\"2d-AmJnVQKNOvV80qELE1MTkgA/DdI\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526,
      },
      {
        "_id": "ecc4ac2dac36a126b22a1bd548cfe7b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IeQGACC+qfOn/V1HhUjbH1YEJ1ExaKtA684PDD8c8NsB39bCC9QWSSI1r+2UYZ6eejkc4hEx/Ou66gqarGGw2r0QNio9+ArdaCdgMD6ddp00uhkHEFosfZ58hwHC3okFX7GwsgTLDwfCYtOC4zAvoiq8Ez43H27AS9M5IRw2cgSj2zgFgYmogUMCjrsHf/0Q3[...]
