{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c034b391ba8c7213c97468bd51ffb4b1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"IRwHACC+qfOn/V1HhVzW1mHtJwyoqJCtAq07cPvhgN8O+G9feIGCCBKpeW2nDANP55YIBEZhDBGz91Y30GRNg80fhLA1qcE32NZUwGB8OlWV0rZtA0KFpU+d7zBAOATx4BsGXlZg+RdAGGwrsEsn02yePghd7qUxcHNQJXx1Pl2CV7kGIRy3cgJDt8FA4CWq4JSA6h7BXz+E0Po4kiOVSqqeASPdWr+U1ZIlQfNgC7thuNSNoiyLXPacOR45Ho9iN3KfKNAhVeIDmgd76arcRE/+thV4NJ9NZsPxlBD0sJ5hE5XCf3/HzeDLACPwDavW97+Woyh4RPBta3OKlc/X67xQOSx5EO6PeDZ/kMfDAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "90"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193030"
            },
            {
              "name": "etag",
              "value": "W/\"1c8-4U1YnZoxq1NVRWYHyzZ3YCdJ14E\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 272,
      },
      {
        "_id": "27c846cfcc42908d695828511006513c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868357"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charse[...]
