{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "[\"IbAHACBW6qzqd1Keia7LpOie2HD2a8ySAmS284H6egtwFGcF3e4GOogg8q4LKMI8wKDaVfeR8pQ6t/law12ByWrAVu+FADT6Bfjzil/VgOMk9sOsCAlW2UHA6MTu/tXQHJba/EYgNCb784tV8wQGCHsjGnzFRksLjhcGhI1qwKGfZkHh3wm/nt+uwW05GCEclBzBGJSxICCKZrBPMHjX4M9vgpn1PDhJpZFm+8EuvZz1g7TgEjjXMcJUjgLGqM5qKIrAT0GQsVQDGLgThtLYbT3WQz+MHT91wvgpiDjOOMjdPIk+kKdPmoUUXzCUxj4vTWmlJzPsO1Wj48runLqRg9cDxuAr2llXBJJXC44Jep6tgLrRZdeV1SCqyJ1wx6Rhq/dy/74bAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "103"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "W/\"1ed-JzShNRFKy7/mFSM/c6lj3q5F8NQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 355,
      },
      {
        "_id": "4bc61e1375c6c09a89eafb727c1946e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45402792]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45402792]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "102"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"2d-cPmtNeNZ+s2O+83Yn20FNEHk6DU\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 555,
      },
      {
        "_id": "87355c569bf9e1586db23ce73e19fe33",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection_5\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"IfQGACC+qfOn/V1HhUjbH1aEgEJ1yVaB1p0fGH7Aw7cD/lv8wINIEsqSakfK022C4OEvYs6/tZorZLKmwWr3QphUVuArdFIjYCg+XRgjrU6b9V8GQsemv7/VabMGA4S9Ewu+YmGlB9sPB8Ji6sBxmBdRFd4J35tPt+C+Nk4Ih0mOYJjJKQhaRA0cEpjcI/jrh[...]
