{
  "log": {
    "_recordingName": "getCollection",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5a6a38397fef6cde5513ab04781cd10d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getCollection\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "[\"IRwHACC+qfOn/V1HhUjbH1aEgIoK2S7QuvMDww8H/HbAt7XwArVFkkjNaztlGHg6t0QgMApjiJi9t7qCJmsY7MxeCBsnPfgKt3EqYDA+napK6zbjAEKHpc+T7zBA2Fsx4CsWRpZg+WdBWGw6cBzmRVSFd8JUGxkceNirEr46H27By1qtEA4bOYKhG+tA4CVq4JCA6u7BXz8EO5o4kSPVTrqeESM9jeZRlkuWBK2te7AbRhzGqRdFXhw9RzGnFYehn+XRJwr0SZcI8QNaW/cydbUTPfnbdOC0KvMyLxKC1f1qho3Xivz9HTZDLwOMwFcsR9P/Wg6i4JRgxtHNyXemXq3qRuWw9E64P5KzM3u53w0D\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "51"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193394"
            },
            {
              "name": "etag",
              "value": "W/\"1c8-Fn+X/4ilGpjCmMXr5KtdXutIYB0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421,
      },
      {
        "_id": "9e2209780167c4a6712a4f1e6b933883",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/49868673"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charse[...]
