{
  "log": {
    "_recordingName": "-991325255_6",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5ce03cebcb36d2da0ee15073ef27422",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"testCollection\",\"sort\":0,\"public\":true,\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "[\"IegGACC+teYr/6YyRxRXYeETHKR4uJsCrTs/MPzw7SDfjmFtLUygtkgiClpWhnmYzi0RSBSG4p3Ve4s7ZLJ+Aas5CmGn0oHv0J22AoaK1XPhQGjI9HmMGQYIRysGfMfMyBpsLywIs10DDv00Cwr/SfjdvNSdBqednMFod1ZBUCLqwT6Bxz0Hf/0Q7GDyJIfUGmnGIyt6GMxC1j1SQltanS/zhBH6Yez4qRMUqyDgwOcocvM0/8QEbdIUQnFBW1p9GZtSxVf+dg04TsIs8bOYYNvjZtcqpzb9+zshpMcAeuA71oMBsCsnacExwQyDgtdla4XQmHKzKatW0NuTcGUkZjVHeT4NAw==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1718795493"
            },
            {
              "name": "etag",
              "value": "W/\"1bb-S+1gjLLu1qTnjgIn0WiYODODyyQ\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 592,
      },
      {
        "_id": "f1085b5be23d767461fe9e4caaffebcd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection/45275074"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"result\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1718795493"
            },
            {
              "name": "etag",
              "value": "\"f-ayLlCL3PuzXSThdu78iReSEjl6Y\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 438,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
