{
  "log": {
    "_recordingName": "getRootCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 388,
            "text": "[\"IaQHACB+6dZX/ZsrF7PtftGqBFgY0SQnZnkLPfx+1ySb9lXTFIwqKkqXummmSVGn2wTBx8MrylR6W6u5giZrAbZ6LwRCo0fgryv+uhocJ7EfZlFGsJ0dBQxQ8kqOSvYsxoJQY+zPr7ZbZjBA2BvR4Ct2Whqw/DAg7LoaHPppFhT+nfDpeVUlEB86OYIxdmFBUNSBfQK8ewr++iGYRY+DJanUUq+n3PxFP0oDLoC3ukaY1SRgTN25G4si8FMQZFLdCAbuhFEZ+1DZeuiHseOnThg/BxFHMce5GybhJ7xD6okPjMrYl7VWVgJaM+7bnhqnUu1YxdMBY/AVzaILAo3XHXBM0MtiwY0ajRBqrdpWlaM0Re6ECyYBW72X+8/dAAM=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "W/\"1ea-kiST3Aof9UeK561JrFyE26J/zx0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1262,
      },
      {
        "_id": "188f65da39a1b7aae3e457edaf7b5b22",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45402737]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45402737]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "117"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719236892"
            },
            {
              "name": "etag",
              "value": "\"2d-kuGnR+mbYWCKz3uNMqz35QqbADo\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 527,
      },
      {
        "_id": "b490470052921dddd0a821d77b056b95",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getRootCollections_0\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"ISAHACC+r7qm/T9GpTVtN6y1pCgJ4DvzbAX6uvMDwy/w7YD/dogeeJJ4CTWvFlIeptsEH/EXMbXe1iouoMn6C6xuEcJa5Q98ga7VCBiT6L21ejRS/xODMEDqz+90bf/BAGHx4sAXrJyMYHnhQVitB3Aal1XSxDfCH+ePe/DYGi+E/VoOYJi1VxAIiSo4JsC5R[...]
