{
  "log": {
    "_recordingName": "getRootCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 488,
            "text": "[\"IRQJACD+N1Wn/cXjl0Ayan/LZdhqIQI7nApCxe5TN00eSNewx9c//9bQcIsn1vnEKKJAwoLaJrgFzZH2zunZOgOTtQaex8USgEZ/Bn+c8eMMWGVKrvNSEmY3txaMZWj4e8C3ra1n5/s7v7MjCKbI/vphdr4HA4RlsiP4jNVoN2B7YwJh5Qw4lXmRVPJKmHr+dA3e6HayhJ2zezBaN80gIIp6YEmoPV3hD/zP8zCxEMsQj9r1ZvRD7LyoY9ICjfTDSahMCbnORSlFUiRVqmRZZEpW8w8GvgiTH6/HuKXWWKMCqroe9uO93YCVgCHfRuh1Z8Ho3NG1VZXIHATbadeCgSuh1dN8W+/9qUxVJPMoVY+J4kxxomJZFu/wM8Gagw+2epqfBqNnu8A6i5Wb2mWbnEakhoiEM4QC+Mtg3NS1VFKB0JZgHnzGxo9vxIiwdbAijN7PmSmaUW+3+q+1Otkr4fNKhudxsdevqwED\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "W/\"246-st2lSQ7zF9uP0zCUUvc/+Rpe7BE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 464,
      },
      {
        "_id": "b4641e9ebce10a23b22952abbc75c293",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45403680]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45403680]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719316968"
            },
            {
              "name": "etag",
              "value": "\"2d-56/cSGHKJtgpmfmjkK40LusryQ8\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 463,
      },
      {
        "_id": "a118cc981832fd913c4d5c1c741e0b7e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getRootCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "[\"IRAHACC+r7qm/T9GpTVtN6y1pCgJ4DvzbAX60wMPFEqgLcDa4gI/nCShz//vSPfjdZvgI/4ipaO3tZoLZLL+AqtbhLBW+QNfoGs1AsYkem+tHg31IAyE+vM7Xdt/MEBYvDjwBSsnI9heeBBW6wGcxmWVNPGN8MP54x48tsYLYb+WAxhm7RUEOaIKjglk7hH88[...]
