{
  "log": {
    "_recordingName": "getRootCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3cfb8cee0cc448708716465ffa28fb9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 388,
            "text": "[\"IYQHACC+qfOn/V1HpecAaeuw9hMGFALbBbLcmT+Ifyf2mLS9Je23B61FEnlrUYZ5GNQ2QWhrjEi11r6rugGT1YGtPggBaPQf+OuGv7YEB2Gg/ChQBNvaQcAYRddyUtSAUOrrzy+2nScwQDgY0eAbNloqsL0wIGzaEuypKHZT9SB8eH67AFfZYIRwbOUExtAaCwKdqIIVQdvdgr9+CGbW40AklVLKyINSej7rvVTg6NlXIkzZ2A/bSzukqasiEGTM2gEMPAhDZuyuSGDdU17gqMjxgmc34NBlN9yqIPmEn76UEynYhmF8wZAZ+7KUmZUFoxkOdUFbp2h4MmAMvqGadS7Ad/XggKDn2ZbOljqr6ywfZBflQbhYUrDVB3n8PAwD\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "119"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240845"
            },
            {
              "name": "etag",
              "value": "W/\"1e2-mf/Xwc7NN6pYYkbsm4/ic/aKnx0\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1360,
      },
      {
        "_id": "4e680b880c695c6aaa98f9d6c2d6b220",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[45403640]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"result\":true,\"modified\":1,\"ids\":[45403640]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "118"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1719240845"
            },
            {
              "name": "etag",
              "value": "\"2d-q9Fa5dpal/0fZTQlTjQaVus8fMc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      },
      {
        "_id": "a118cc981832fd913c4d5c1c741e0b7e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"view\":\"list\",\"title\":\"getRootCollections\",\"sort\":0,\"public\":false,\"parent\":{\"$ref\":\"collections\",\"$id\":0,\"oid\":0},\"cover\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collection"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 360,
            "text": "[\"IRAHACC+r7qm/T9GpTVtN6y1pCgJ4DvzbAX60wO3EmgLsLa4wJMIEvr8/450P163CT4ej4jq6G2tdIFM1l9gdYsQ1ip/4At0rUbAmETvrdWjIR6EgVB/fqdr+w8GCIsXB75g5WQE2wsPwmo9gNO4rJImvhF+OH/cg8fWeCHs13IAw6y9giBHVMAxgczdgz++C[...]
