{
  "log": {
    "_recordingName": "getRootCollections",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9ebb7d4827eee1aba987b14497222d7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 26,
            "text": "{\"result\":true,\"items\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "111"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1732193832"
            },
            {
              "name": "etag",
              "value": "\"1a-M5DJziFeZJQ6A/OlOUZ7iJ8L0aY\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1441,
      },
      {
        "_id": "5c3964a4de844e128066d9a031305312",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "<REDACTED>"
            }
          ],
          "method": "DELETE",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[]}"
          },
          "queryString": [],
          "url": "https://api.raindrop.io/rest/v1/collections"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"result\":false,\"status\":413,\"errorMessage\":\"ids array is larger than max 100 or empty\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "120"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "106"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "17321[...]
